[2013-11-05 07:07] otiai10 opened #2 "Validation in `Servant.Target`"

[2013-11-06 11:36] #2 closed, assigned to nobody

[2013-11-06 11:37] otiai10 opened #3 "Big refactoring"
such as

[code]

[2013-12-21 06:13] otiai10 opened #4 "icon"
![tesseract](https://f.cloud.github.com/assets/931554/1795347/06dde904-6a07-11e3-8dd3-33b7d466acdb.jpg)

[2014-02-12 22:41] #4 closed, assigned to nobody

[2014-02-12 22:42] zimmski opened #6 "Translate comments and issues to English"
Please translate all comments and issues to English so other ~~non-speaking~~ (I do not even know which languages that is :alien:) developers can help with the TODO.

[2014-02-12 22:45] #3 closed, assigned to nobody

[2014-03-22 12:17] #6 closed, assigned to nobody

[2014-04-09 22:10] btc opened #9 "generating temp files"
[code]

ioutil.TempFile provides this

[2014-04-10 01:22] otiai10 opened #11 "make `tmp dir` optional"

[2014-04-10 01:35] otiai10 opened #12 "More effective error handling"
related to https://github.com/otiai10/gosseract/pull/10#commitcomment-5964267

[2014-05-18 07:50] otiai10 opened #13 "Use travis"

[2014-05-20 03:25] otiai10 opened #14 "More plain tests"
package `gosseract_test`,
NOT using `gospel`

Related #13

[2014-05-21 03:51] otiai10 opened #17 "DRASTIC REFACTORING!!!!!!!"
![img_2](https://cloud.githubusercontent.com/assets/931554/3035922/5b1f9318-e09b-11e3-8d1a-f0c3d53f5917.jpeg)

[2014-06-23 23:30] otiai10 opened #22 "[v2] Use `cgo` in calling tesseract"
- https://github.com/otiai10/gosseract/pull/21#issuecomment-46843401
- http://otiai10.hatenablog.com/entry/2014/06/24/082448

![2014-6-24-0-41-33](https://cloud.githubusercontent.com/assets/931554/3365447/454f88b0-fb2e-11e3-868e-7bb959a4da4c.png)

[2014-06-24 02:35] #9 closed, assigned to nobody

[2014-06-24 02:35] #11 closed, assigned to nobody

[2014-06-24 04:47] #17 closed, assigned to otiai10

[2014-06-24 04:47] #14 closed, assigned to otiai10

[2014-06-24 04:47] #13 closed, assigned to otiai10

[2014-06-24 04:47] #12 closed, assigned to otiai10

[2014-06-25 06:38] otiai10 opened #25 "Support Tesseract3.03~"
As is (almost vacant)
[code]

[2014-06-28 02:43] pjebs opened #26 "Can this package be used on a aws ec2 web server?"

[2014-07-23 01:23] otiai10 opened #27 "Can `LookPath` help here?"
https://github.com/otiai10/gosseract/blob/master/tesseract.go#L17

[code]

[2014-08-30 14:42] halfcrazy opened #28 "support jpeg？"
when i use the following code to ocr a jpeg format pic.

img_url := "http://cityjw.dlut.edu.cn:7001/ACTIONVALIDATERANDOMPICTURE.APPPROCESS"
resp, err := client.Get(img_url)
if err != nil {
    // handle error
}
defer resp.Body.Close()
OcrClient, _ := gosseract.NewClient()
img, _ := jpeg.Decode(resp.Body)
out, _ := OcrClient.Image(img).Out()
fmt.Println(out)

and then i got some error.

panic: runt

[2014-09-11 23:56] JayXon opened #30 "no way to specify digest if I'm using Image()"
Should add Digest().
I could implement it if you want.

[2014-09-12 01:13] otiai10 opened #31 "Command existence validation"
related to #28 , #27

[2014-09-12 10:16] #30 closed, assigned to nobody

[2014-09-12 10:16] #31 closed, assigned to otiai10

[2014-09-12 10:16] #27 closed, assigned to nobody

[2014-10-24 02:44] #28 closed, assigned to otiai10

[2015-01-13 12:45] otiai10 commented on #26
- Amazon Linux AMI 2014.09.1 (HVM)
- t2.micro

ssh
[code]

c++
[code]

leptonica
[code]

tesseract
[code]

test run for tessearct
[code]

golang

[code]

source code

[code]

execution

[code]

[2015-01-13 12:46] otiai10 commented on #26
@pjebs It works in AWS EC2 instance.

[2015-01-13 12:46] #26 closed

[2015-03-23 01:32] otiai10 commented on #22
https://code.google.com/p/tesseract-ocr/wiki/APIExample

[2015-03-23 01:32] otiai10 commented on #22
https://github.com/otiai10/cgosample

[2015-03-23 04:39] otiai10 commented on #22
http://jprogramer.com/ocr/2003

[2015-03-23 04:42] otiai10 opened #33 "fundamentals"
https://code.google.com/p/tesseract-ocr/wiki/TrainingTesseract3

[2015-03-28 14:23] otiai10 opened #35 "Allow digest file"

[2015-03-28 14:33] otiai10 opened #36 "Allow Image file"
- no idea, priority low

[2015-03-28 14:58] otiai10 opened #37 "Change `Must` interface"
[code]

[2015-04-01 23:50] otiai10 commented on #33
http://fossies.org/dox/tesseract-ocr-3.02.02/classtesseract_1_1TessBaseAPI.html

[2015-04-01 23:51] otiai10 commented on #33
https://code.google.com/p/tesseract-ocr/wiki/APIExample

[2015-04-02 00:16] otiai10 opened #38 "api->SetVariable"
- [ ] list possible variable names

[2015-04-02 01:21] otiai10 commented on #22
before

[code]

after

[code]

[2015-04-02 01:24] #35 closed

[2015-04-02 01:24] #36 closed

[2015-04-02 01:44] otiai10 opened #39 "Update README"

[2015-04-02 15:34] otiai10 opened #40 "'tesseract/baseapi.h' file not found"
[code]

[2015-04-07 12:01] martinlindhe commented on #40
on osx, this is solved using homebrew: brew install tesseract

[2015-05-06 13:11] TomNomNom commented on #25
I've had a go at adding 3.03 support in TomNomNom/gosseract@59d79e34cd30897897121ff56f345b2f94b1cb7b.

The tesseract changelog doesn't indicate any breaking changes between 3.02 and 3.03 that I can see; so it's pretty much a copy and paste job.

I did find that 3.03 on my machine didn't pass the tests that use whitelists; it was interpreting some of the ':' characters in the images as 'I' characte

[2015-05-06 14:18] otiai10 commented on #25
@TomNomNom
Thank you very much!
I'll check the pull-req soon :ok_woman:

[2015-05-08 00:04] pindamonhangaba commented on #40
Need to install `libleptonica-dev` and `libtesseract-dev`.

[2015-05-10 03:21] otiai10 commented on #40
@martinlindhe @pindamonhangaba

Thanks!

It was a problem caused by updating my machie mavericks to yosemite

[2015-05-10 03:22] otiai10 commented on #40
s/It was/It might have been/

[2015-05-11 05:20] #25 closed

[2015-05-11 05:21] #22 closed

[2015-07-01 02:00] otiai10 opened #42 "command `goss`"
[code]

[code]

[2015-07-31 18:05] prsolucoes opened #44 "Testing on Mac OSX"
I have installed everything and after build the go file with readme example, i have an error:

```ld: warning: ld: warning: ignoring file /usr/local/lib/liblept.dylib, file was built for x86_64 which is not the architecture being linked (i386): /usr/local/lib/liblept.dylibignoring file /usr/local/lib/libtesseract.dylib, file was built for x86_64 which is not the architecture being linked (i386): /

[2015-08-02 04:22] otiai10 commented on #44
Thanks for comment.
It seems you have installed `tesseract` for 64-bit CPU but your PC is i386.
Can you comment your OS version and CPU spec below, please?

[2015-08-02 05:32] prsolucoes commented on #44
Sorry, i forgot put the solution. You are correct. After check go env, i see that i have installed go version 386 instead of 64bits version. No more problems.

[2015-08-02 05:41] otiai10 commented on #44
:+1:

[2015-08-02 05:41] #44 closed

[2015-09-04 06:14] novalagung commented on #40
I experienced same issue here. This error keep showing up even tesseract already installed. Am I missing something?

[code]

[2015-09-04 06:29] otiai10 commented on #40
@novalagung

Thanks for comment.

Did you try this?
https://github.com/otiai10/gosseract/issues/40#issuecomment-100051917

[2015-09-04 07:09] novalagung commented on #40
Thanks! is there any reference on how to install `libleptonica-dev` and `libtesseract-dev` on OSX? that would be very helpful for me

[2015-10-28 06:41] otiai10 opened #45 "tesseract/baseapi.h: No such file or directory (Debian)"
# tesseract/baseapi.h: No such file or directory

[code]

[2015-10-28 06:46] otiai10 commented on #45
[code]

# leptonica/allheaders.h: No such file or directory

[code]

[code]

[code]

good work

[2015-10-28 06:47] #45 closed

[2015-10-31 19:57] mshanak opened #46 "adding language support"
is there  a way to set the language eg, eng+heb ?

[2015-11-04 20:35] mshanak commented on #46
this clone support Languages parameter:
https://github.com/mshanak/gosseract

[2015-11-05 02:51] otiai10 commented on #46
Sorry for late response.
It looks great.

[2015-11-06 01:55] otiai10 commented on #40
how about `brew uinstall` and install again?

[2015-11-06 02:00] otiai10 commented on #40
MacOSX 10.10.5

[code]

[code]

[code]

[2015-11-06 02:32] otiai10 commented on #46
https://github.com/otiai10/gosseract/pull/47

[2015-11-06 02:32] #46 closed

[2015-11-06 02:35] otiai10 opened #48 "[travis] test failed ONLY IN tip"
https://travis-ci.org/otiai10/gosseract/builds/89569700
# `tip`

http://docs.travis-ci.com/user/languages/go/

https://github.com/travis-ci/gimme

[2015-11-06 02:38] otiai10 opened #49 "Default `Languages` for Must Params"

[2015-11-06 02:38] otiai10 commented on #42
YAGNI

[2015-11-06 02:38] #42 closed

[2015-11-15 02:19] otiai10 commented on #38
- https://groups.google.com/forum/#!topic/tesseract-ocr/eHTBzrBiwvQ
- http://www.sk-spell.sk.cx/tesseract-ocr-parameters-in-302-version

[2015-11-15 08:04] otiai10 opened #50 "RectAngle"
https://code.google.com/p/tesseract-ocr/wiki/APIExample

[2015-12-13 07:25] carbocation commented on #40
On El Capitan, installation of gosseract does not seem to work:

[code]

[2015-12-13 07:45] carbocation commented on #40
Actually, I think I have a solution. This problem can occur when the command-line developer tools for Xcode are not installed, or when you upgrade Xcode.

To fix, do the following:

[code]

This worked for me.

[2015-12-13 12:21] otiai10 commented on #40
Thank you! :beer:

[2015-12-13 23:22] novalagung commented on #40
+1

[2015-12-28 05:38] zhujiarong commented on #40
I follow this command
brew remove tesseract
brew remove leptonica
xcode-select --install
brew install tesseract
go get github.com/otiai10/gosseract

same error

[2015-12-28 06:08] otiai10 commented on #40
did you get any error output while issuing those commands?

[2015-12-31 08:34] tobiassoltermann opened #51 "tesseract/baseapi.h: No such file or directory"
I'd like to use tesseract with go on Windows 7.

During the installation process, as stated in the docs I execute

[code]

And by searching the file system for the header file baseapi.h, I cannot find it.

How can I solve this? Thank you

[2015-12-31 12:20] otiai10 commented on #51
Can this issue https://github.com/otiai10/gosseract/issues/40 help you?

[2015-12-31 12:29] tobiassoltermann commented on #51
No, unfortunately, it didn't. I've seen this before and wouldn't have opened this issue if a solution of #40 worked. In fact I even tried to copy all the dependencies into the tesseract folder. This works until it has to compile freetype.

[2016-01-01 01:42] otiai10 commented on #51
Happy new year.

I don't know about windows so much, but how did you install tesseract, leptonica and their dev libs?

[2016-03-07 19:01] dustinwtf opened #52 "PSM Support?"
Is there a way to edit the PSM argument that gets passed into Tesseract?

[2016-03-08 04:25] otiai10 commented on #52
Thanks.
I'll try it. But it cannot be supported immediately.

https://tesseract-ocr.googlecode.com/svn/trunk/doc/tesseract.1.html

[2016-03-08 04:26] otiai10 commented on #33
https://tesseract-ocr.googlecode.com/svn/trunk/doc/tesseract.1.html

[2016-03-08 04:27] otiai10 commented on #52
I'm planning dynamic refactoring, in order to give more tesseract options easily.

[2016-06-16 21:24] geoherna commented on #40
+1

brew remove tesseract
brew remove leptonica
xcode-select --install
brew install tesseract
go get github.com/otiai10/gosseract

worked like a charm.

[2016-06-17 06:56] kyle-sorensen opened #55 "Undefined reference to simple."
[code]

[code]

The build failed during tests because of this error too.

[2016-06-17 09:41] otiai10 commented on #55
@kyle-sorensen

Thank you very much.
Can you give me some information below?

1. output of `go version`
2. output of `go env`
3. output of `go clean -x github.com/otiai10/gosseract` and `go build -x github.com/otiai10/gosseract`

[2016-07-27 07:51] otiai10 commented on #52
tessedit_pageseg_mode

[2016-07-27 09:26] otiai10 commented on #52
http://tesseract-ocr.github.io/a01278.html#a338d4c8b5d497b5ec3e6e4269d8ac66a

[2016-07-31 21:58] james-robson opened #56 "Possible to add support for tessedit_write_images config variable?"
Hi,

I was reading through the [Tesseract docs here](https://github.com/tesseract-ocr/tesseract/wiki/ImproveQuality) on improving the OCR output quality. It mentions that setting the `tessedit_write_images` config variable allows a user to view the input file after initial processing by Tesseract.

Would it be possible to add this feature to the wrapper? It seems that a combination of `api->SetVar

[2016-09-01 22:49] williamczuba opened #57 "test errors: Error opening data file and can't find language"
I tried to run the first test, but it failed with the following errors:

[code]

[2016-09-02 05:50] otiai10 commented on #57
I hope it can help you
http://stackoverflow.com/questions/14800730/tesseract-running-error

Please add some comment after you try this, thank you

[2016-09-14 16:33] zsq2010 commented on #40
how about on windows?

[2016-09-15 11:33] otiai10 commented on #40
@zsq2010 did you get the same error? Put that error here please. I'm sorry I'm not so familiar with Windows, just I'm reading https://github.com/tesseract-ocr/tesseract/wiki#windows.

[2016-09-16 17:04] zsq2010 commented on #49
is it possible to change the "language" as ,I am now using that former form:
"out := gosseract.Must(map[string]string{
"src": "a.gif",
"

[2016-09-19 16:09] otiai10 commented on #49
@zsq2010 it seems your comment is broken

[2016-09-21 10:04] otiai10 opened #58 "Check behavior on Go1.7"
should be automated test

[2016-10-27 17:11] ketutgunawan commented on #45
Please help , i have same problem but i'm in centos 7

[2016-10-27 21:30] otiai10 commented on #45
@ketutgunawan thanks for comment.

I guess I could simulate and reproduce your problem, also fixed it. I wish it can help you.

http://otiai10.hatenablog.com/entry/2016/10/28/062712

-----------------

# Reproduce the issue

try to install Golang itself

[code]

try to get gosseract

[code]

OK, set `$GOPATH`

[code]

OK, install `git`

[code]

OK, install `g++`

[code]

OK, the problem is reprodu

[2016-10-27 23:30] ketutgunawan opened #59 "tesseract/baseapi.h: No such file or directory (Centos 7)"
github.com/otiai10/gosseract/tesseract/tess.cpp:1:31: fatal error: tesseract/baseapi.h: No such file or directory  (Centos 7)

[2016-10-27 23:54] otiai10 commented on #59
@ketutgunawan thanks for reporting.

as I answered in https://github.com/otiai10/gosseract/issues/45#issuecomment-256775685

I guess I could simulate and reproduce your problem, also fixed it. I wish it can help you. I'm waiting for your comment.

http://otiai10.hatenablog.com/entry/2016/10/28/062712

-----------------

# Reproduce the issue

try to install Golang itself

[code]

try to get gosser

[2016-10-28 00:00] ketutgunawan commented on #59
Thanks @otiai10 now is work .  *****

[2016-10-28 06:54] #59 closed

[2016-11-02 06:43] otiai10 commented on #58
https://github.com/otiai10/gosseract/pull/60

[2016-11-02 06:43] #58 closed

[2016-11-15 13:15] kanaqsasak commented on #45
Install:

`$ sudo apt install tesseract-ocr-dev`
`$ sudo apt install libleptonica-dev`

Ubuntu 16.04
It works.

[2016-11-23 04:35] qetee opened #61 "go build error on linux"
when i use `gox -osarch="darwin/amd64" to build; it shows:

[code]

but it's ok when i use `gox -osarch="linux/amd64"`

And my system is debian 8

[2016-11-25 09:52] xiangshenb opened #62 "Windows 10 can't run"
My system is windows10 64 bit, my gcc use https://github.com/go-vgo/Mingw,
At first,error is  : tesseract/baseapi.h' file not found ,
Then I went to download class libraries :
1. tesseract-3.02.02-win32-lib-include-dirs.zip download url https://sourceforge.net/projects/tesseract-ocr-alt/files/
2. leptonica-1.68-win32-lib-include-dirs.zip   download url http://www.leptonica.com/download.html
And th

[2016-12-14 14:45] otiai10 commented on #49
related
https://gist.github.com/henrik/1967035

[2017-02-01 18:52] pjebs opened #64 "Embed tesseract into app using cgo"
Tesseract actually provides a c library so you don't need to use tesseract running as a service.
Do you know how to do it?

[2017-02-25 07:28] diamonjack commented on #45
How to fix
grep: /var/log/secure: No such file or directory

[2017-02-25 11:41] otiai10 commented on #45
need more information

[2017-03-27 13:58] zakkor opened #66 "Setting languages for client directly?"
Is it possible to set the languages like this instead of having to use `.Must()`?

[code]

[2017-03-28 06:06] otiai10 commented on #66
not possible for now

[2017-04-06 07:04] zouhuigang opened #67 "no buildable Go source files"
../../vendor/github.com/otiai10/gosseract/goss.go:3:8: no buildable Go source files in /go/src/vendor/github.com/otiai10/gosseract/tesseract

go build:
CGO_ENABLED=0 GOOS=windows GOARCH=amd64 go build  app/server

[2017-04-06 07:21] zouhuigang commented on #61
你这个是怎么解决的？难道不能交叉编译？必须设置成"linux/amd64"?

[2017-04-08 05:27] chrispytoes commented on #51
I am also having the exact same error. I installed the Windows binary for tesseract-ocr.

[2017-05-10 03:59] jackluo2012 opened #68 "But actual `No tesseract version is found, supporting 3.02~, 3.03~, 3.04~ and 3.05~`"
[root@localhost gosseract]# go test
/tmp/go-build841552903/gosseract/_test/gosseract.test: error while loading shared libraries: liblept.so.5: cannot open shared object file: No such file or directory
exit status 127
FAIL	gosseract	0.001s
[root@localhost gosseract]# ls /usr/local/lib/
codecs/                liblept.so.5.0.1       libtesseract.so.4
liblept.a              libpython3.6m.a        libt

[2017-05-10 04:06] otiai10 commented on #68
what is the output of `tesseract -v`?

`Client` is, for now, just a command wrapper, requiring available executable bin.

[2017-05-10 07:01] jackluo2012 commented on #68
[root@localhost src]# tesseract -v
tesseract 4.00.00alpha
 leptonica-1.74.1
  libjpeg 6b (libjpeg-turbo 1.2.90) : libpng 1.5.13 : libtiff 4.0.3 : zlib 1.2.7

 Found AVX
 Found SSE
[root@localhost src]#

[2017-05-10 08:07] otiai10 commented on #68
then, you can see there is no tesseract versions supported. 4.00.00 is out of range.

[2017-05-10 08:07] #68 closed

[2017-06-07 03:18] zosocanuck commented on #62
I am also running into the same issue with cygwin on Windows 10

[2017-06-07 04:47] #37 closed

[2017-06-07 04:47] #33 closed

[2017-06-07 04:47] #38 closed

[2017-06-07 04:47] #39 closed

[2017-06-07 04:47] #40 closed

[2017-06-07 04:48] #48 closed

[2017-06-07 04:48] #49 closed

[2017-06-07 04:48] #50 closed

[2017-07-16 02:12] liu-xuewen commented on #40
windows get the same error? I put here. please help.
[code]

[2017-07-17 04:14] otiai10 commented on #55
no information

[2017-07-17 04:14] #55 closed

[2017-07-17 04:14] otiai10 commented on #64
I'm using cgo partially

[2017-07-17 04:14] #64 closed

[2017-07-17 10:06] danielfazlijevic opened #69 "Can't build with MinGW"
I cannot build with `go build` nor I can ` go get github.com/otiai10/gosseract` ,
I get error:
`go build github.com/otiai10/gosseract/tesseract: C:\go\pkg\tool\windows_386\cgo.exe: exit status 2`

I installed CGO, tried restarting my pc, nothing works.

[2017-07-18 01:17] otiai10 commented on #69
How did you installed `cgo`? `cgo` is one of standard components included in initial golang installation itself. Plus, show me outputs of commands bellow

- `go version`
- `go env`

[2017-07-18 11:40] danielfazlijevic commented on #69
[code]

I used MinGW to install some components.

[2017-08-21 07:58] clakeboy commented on #67
change CGO_ENABLED=1

[2017-09-14 18:47] quarkey commented on #51
I'm getting the same error with debian jessie 32bit with tesseract installed.

[2017-09-15 01:28] otiai10 commented on #51
Installing only binary is not enough to let gosseract work. It uses tesseract-ocr library files, as discussed on #40

[2017-10-03 04:20] #67 closed

[2017-10-05 16:48] huehnerhose commented on #40
I try to install gosseract on FreeBSD 11.0. I have tesseract and leptonica installed. My `baseapi.h` is at `/usr/local/include/tesseract/baseapi.h` but I still get:

    go get github.com/otiai10/gosseract
    # github.com/otiai10/gosseract/tesseract
    tess.cpp:1:10: fatal error: 'tesseract/baseapi.h' file not found

Is there any way to tell where to find the file manually?

[2017-10-10 14:07] DeadNumbers opened #73 "Can't build with 4.00.00dev"
`go version go1.9.1 linux/amd64`

[code]

[2017-10-11 06:11] DeadNumbers commented on #73
@otiai10 anyway, can't build. Tesseract version `4.00.00dev.r690.g1b0379c2-1`,

[code]

[2017-10-12 08:00] #73 closed

[2017-10-12 14:35] otiai10 commented on #57
https://github.com/otiai10/docker-tesseract/blob/master/Dockerfile#L56-L61

[2017-10-12 14:35] #57 closed

[2017-10-12 14:49] otiai10 commented on #51
Hey @tobiassoltermann, @chrispytoes, how did you install tesseract-ocr, and where is the header files of that?

[2017-10-13 05:52] otiai10 commented on #66
will be done in https://github.com/otiai10/gosseract/milestone/3

[2017-10-13 05:52] #66 closed

[2017-10-13 05:57] otiai10 commented on #61
@qetee
Hi, sorry for being late.
I guess gosseract should be managed by `go get`, not `dep`, because dep doesn't care about directories which don't have any go source. (is it right? I'm not sure).

I'm rebuilding this repository with replacing by pure go source, in this [milestone](https://github.com/otiai10/gosseract/milestone/3). I hope this issue would be solved on `v2.0`

[2017-10-13 05:57] #61 closed

[2017-10-13 05:59] otiai10 commented on #62
seems it will help
https://stackoverflow.com/questions/12868808/how-to-tell-c-library-path-in-cygwin-and-mingw

[2017-10-13 05:59] #62 closed

[2017-10-13 06:06] otiai10 opened #76 "api->Version()"
[code]

[2017-10-14 08:55] tobiassoltermann commented on #51
@otiai10 I'm not sure anymore. I think I installed tesseract and leptonica from the Windows installers. But my project was abandoned, so it's obsolete...

[2017-10-15 14:29] otiai10 commented on #51
😢
Thanks anyway for replying

[2017-10-15 14:29] #51 closed

[2017-10-17 10:01] otiai10 opened #78 "Add runtime test for #77"
Add runtime test for #77

[2017-10-19 16:15] otiai10 commented on #76
https://github.com/otiai10/gosseract/commit/4f493bfa777816070a72ff10b4d52afaad7122d9

[2017-10-19 16:15] #76 closed

[2017-10-19 19:06] icobani opened #80 "go get error"
I want to install package on my mac. but i get a error like this. I checked this file in project i cannot find. I think it is missing.

`go get github.com/otiai10/gosseract`
`# github.com/otiai10/gosseract/tesseract`
`../../otiai10/gosseract/tesseract/tess.cpp:5:10: fatal error: 'tesseract/baseapi.h' file not found`

[2017-10-20 03:03] otiai10 commented on #80
@icobani needs more information.

How did you install [tesseract](https://github.com/tesseract-ocr/tesseract)?

[2017-10-20 03:05] otiai10 commented on #80
https://github.com/otiai10/gosseract/issues/40

[2017-10-20 07:32] otiai10 commented on #52
- https://zdenop.github.io/tesseract-doc/classtesseract_1_1_tess_base_a_p_i.html#a15a7a9c1afbba3078a55b4566de891ab
- https://rmtheis.github.io/tess-two/javadoc/com/googlecode/tesseract/android/TessBaseAPI.PageSegMode.html

[2017-10-20 08:58] otiai10 commented on #52
implemented on [v2/develop](https://github.com/otiai10/gosseract/tree/v2/develop)

[2017-10-20 08:58] #52 closed

[2017-10-22 06:59] otiai10 commented on #56
https://github.com/otiai10/gosseract/commit/3fe7ee5dc1e0e04db46434974abdbdad43556882

It enables to set any variables. I'm not sure but guess it works for the case of `tessedit_write_images`.

[2017-10-22 06:59] #56 closed

[2017-10-23 06:24] otiai10 commented on #78
[code]
[code]

[2017-11-03 11:46] huehnerhose opened #86 "Language Support in v2"
I am puzzled how to set the `-l` parameter?

[2017-11-04 04:22] otiai10 commented on #86
[code]

[2017-11-04 07:26] #86 closed

[2017-11-04 07:57] otiai10 commented on #80
no updates

[2017-11-04 07:57] #80 closed

[2017-11-05 01:48] otiai10 commented on #69
it might be helpful https://github.com/mattn/go-sqlite3/issues/168

[2017-11-05 02:19] #69 closed

[2017-11-07 13:22] greatGregLiu opened #90 "Can Gosseract work with QT on Android/iOS?"
Can Gosseract work with this go-QT: https://github.com/therecipe/qt?

So we can make App with gosseract and go version QT? Scan bank cards then use gosseract OCR? Thanks

[2017-11-07 14:53] otiai10 commented on #90
@greatGregLiu Thanks for comment.

`gosseract` requires Go itself and Tesseract-OCR library files (shared objects and headers, `tesseract/baseapi.h` for example). If it's possible to install C packages on QT framework and locate library files with being linkable, you might be able to do what you want. As I don't know much about QT, could you show me any small example app working with go-QT?

[2017-11-23 04:41] #78 closed

[2017-11-30 09:42] pratty931 commented on #59
Failing again here

wget https://github.com/tesseract-ocr/tessdata/raw/master/eng.traineddata
[root@2bc64375ee2c gosseract]# mv eng.traineddata /usr/local/share/tessdata/
[root@2bc64375ee2c gosseract]# go test

wget https://github.com/tesseract-ocr/tessdata/raw/master/eng.traineddata
[root@2bc64375ee2c gosseract]# mv eng.traineddata /usr/local/share/tessdata/
[root@2bc64375ee2c gosseract]# go test

[2017-11-30 09:43] pratty931 commented on #59
actual_tessdata_num_entries_ <= TESSDATA_NUM_ENTRIES:Error:Assert failed:in file tessdatamanager.cpp, line 50
fatal error: unexpected signal during runtime execution
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x7f27c8243270]

runtime stack:
runtime.throw(0x51d77d, 0x2a)
	/usr/lib/golang/src/runtime/panic.go:566 +0x95
runtime.sigpanic()
	/usr/lib/golang/src/runtime/sigpanic_unix.g

[2017-11-30 09:49] otiai10 commented on #59
@pratty931
Which OS are you using, what is Go version, what did you do actually?

[2017-11-30 09:55] pratty931 commented on #59
I have done exactly what has been written on the page

Os is linux
Centos 6.7

On 30 Nov 2017 3:19 p.m., "OCHIAI, Hiromu" <notifications@github.com> wrote:

[2017-11-30 09:58] otiai10 commented on #59
https://github.com/otiai10/gosseract/blob/master/test/runtimes/tess4.00_go1.9_CentOS.Dockerfile
This document is newer. Please check it

[2017-11-30 09:59] pratty931 commented on #59
And go version is go1.7.6 linux/amd64

On 30 Nov 2017 3:25 p.m., "prateek kumar" <pratty931@gmail.com> wrote:

[2017-11-30 10:01] otiai10 commented on #59
what's your tesseract version

[2017-11-30 13:00] otiai10 opened #97 "Fail in CentOS6.7 / Tesseract3.02.02 / Golang1.7.6"
# Reproducible Docker

[code]

# Output

[code]

# Note

- Related: https://github.com/otiai10/gosseract/issues/59#issuecomment-348134884
- Branch: // TODO

[2017-11-30 13:00] otiai10 commented on #59
@pratty931
I can reproduce it. Let's move to #97

[2017-11-30 13:02] pratty931 commented on #59
How ??? Pls
Help

On 30 Nov 2017 6:31 p.m., "OCHIAI, Hiromu" <notifications@github.com> wrote:

[2017-11-30 13:05] otiai10 commented on #97
Might be helpful

- https://github.com/EddyVerbruggen/nativescript-ocr/issues/5#issuecomment-284245523
- https://stackoverflow.com/questions/41131083/tesseract-traineddata-not-working-in-swift-3-0-project-using-version-4-0
- https://github.com/tesseract-ocr/tesseract/wiki/FAQ#actual_tessdata_num_entries_-tessdata_num_entrieserrorassert-failedin-file-ccutiltessdatamanagercpp-line-55_

[2017-12-03 12:38] #97 closed

[2017-12-03 12:44] otiai10 commented on #97
Hey @pratty931, I figured out why you failed. The traineddata you installed are the latest one and are not compatible for tesseract 3.02. Check https://github.com/otiai10/gosseract/commit/e72539557e01bb0f433008711d6eafc495a039ff for more information and check [Dockerfile](https://github.com/otiai10/gosseract/blob/master/test/runtimes/tess3.02.02_go1.7.2_CentOS6.7.Dockerfile) for full installation

[2017-12-25 09:39] aswinkumarrhex opened #99 "OCR not execute inside the Container"
Hi
installed GO -TESSARECT inside the container fabric-tools. But application still not able to recognize the same at runtime.
![sm1](https://user-images.githubusercontent.com/20457599/34337485-9b964792-e985-11e7-9a85-5459db689f6e.png)
![sm2](https://user-images.githubusercontent.com/20457599/34337486-9c620ada-e985-11e7-9104-b833d00c490d.png)

[2017-12-27 05:37] otiai10 commented on #99
Hi, @aswinkumarrhex

I can have time to have a look today, please stay tune.

Btw, at least, it's definitely possible to have gosseract run on docker containers, as I'm using containers for runtime tests.

FYI https://github.com/otiai10/gosseract/blob/master/test/runtime#L76-L78

[2017-12-27 05:49] otiai10 commented on #99
@aswinkumarrhex I have some questions before starting the tackle.

1. Are you able to execute **any other golang packages** instead of `gosseract`
2. Where can I have `instantiate_chaincode.js` source code?
3. Please try `docker exec -it e60f7ad09048 ls -la /opt/gopath/src/github.com/otiai10` to check if gosseract exists
4. Paste your output as texts with using code block instead of pictures, like

[2017-12-27 06:38] aswinkumarrhex commented on #99
1) I haven't explored with any other golang packages.
if you have any suggestions I am  happy to try it out !
2) Here is the code  - part of the demo we are exploring
https://github.com/IBM-Blockchain/marbles/tree/v4.0/scripts
3) Yes it does exist....

[code]

[2017-12-27 08:56] otiai10 commented on #99
- [ok] https://github.com/IBM-Blockchain/marbles/blob/51014f86bc4d69a11c9c63ba8c8f0b42bb8f6148/scripts/instantiate_chaincode.js#L39
- [ok] https://github.com/IBM-Blockchain/marbles/blob/51014f86bc4d69a11c9c63ba8c8f0b42bb8f6148/scripts/instantiate_chaincode.js#L57
- [ok] https://github.com/IBM-Blockchain/marbles/blob/51014f86bc4d69a11c9c63ba8c8f0b42bb8f6148/utils/fc_wrangler/index.js#L24-L26
- [ok]

[2017-12-27 09:12] otiai10 commented on #99
@aswinkumarrhex

As having read some code, it was hard to identify issues from source code without reproducing.
Give me a way to reproduce your problem.

Anyway, I don't think this is a problem of `gosseract` because `gosseract` is working on containers [as tests](https://github.com/otiai10/gosseract/tree/master/test/runtimes), which can be executed on your local and also on Travis-CI (or any othe

[2017-12-29 13:59] rajasekar1 opened #100 "gosseract go build error"
Hi,

I am using ubuntu with docker, In my code i importe gosseract package.
When i try to build application. I got below error.

[code]

[2017-12-29 14:53] otiai10 commented on #100
please follow https://github.com/otiai10/gosseract/blob/master/ISSUE_TEMPLATE.md

[2018-01-24 01:27] otiai10 commented on #100
at least I want to know which OS you are using. if there is no longer response, I would close this issue by 24H

[2018-01-24 01:28] otiai10 commented on #99
if there is no longer any response, I would close this issue by 24H

[2018-01-24 01:56] rajasekar1 commented on #100
We have using Ubuntu 16.8. It seems C++ file link problem.

[2018-01-24 02:25] otiai10 commented on #100
@rajasekar1 OK, thanks, then please follow this template https://github.com/otiai10/gosseract/blob/master/ISSUE_TEMPLATE.md

[2018-01-25 02:23] #99 closed

[2018-02-02 17:17] otiai10 opened #104 "Travis-CI time out error"
# Summary

Because test script builds all the docker images for runtime tests, each tests spend more than 40~45 minutes, as results, cause `The job exceeded the maximum time limit for jobs, and has been terminated` errors.

[code]

# Reproducibility

## Reproducility Frequency

- 80~%

## Reproducible Dockerfile

https://travis-ci.org/otiai10/gosseract/jobs/334659789

# Environment

- on Travis-CI

[2018-02-02 19:02] #104 closed

[2018-02-11 19:52] ansonl opened #107 "Example for Client.SetVariable and config file support"
Hi,

Is there an example for the use of [Client.SetVariable](https://godoc.org/github.com/otiai10/gosseract#Client.SetVariable)? I looked at the Tesseract Advanced API page linked for the SetVariable documentation and the page has some functions such as GetRegions and [GetHOCRText](https://zdenop.github.io/tesseract-doc/group___advanced_a_p_i.html#ga655f906bbf64dcd6f33ce633ecce997d) that I am inte

[2018-02-11 21:57] ansonl commented on #107
I ended up adding the functionality in pull request #108.

[2018-02-12 21:40] #107 closed

[2018-02-12 21:45] #100 closed

[2018-02-14 16:02] whitman-colm opened #112 "Unable to compile for windows on macOS. Says first call to package not found"
# Undefined package used when attempting to compile for windows:

I have built a tiny wrapper for Gosseract for my own personal use, but when attempting to compile for windows (on mac) I get an error. There is never an issue and the system works perfectly when compiling *for* macOS but I get an error without fail when compiling for windows.

# Reproducibility

## Reproducility Frequency

- 100%

#

[2018-02-14 17:35] otiai10 commented on #112
got the same error

[code]

[code]

[code]

[2018-02-14 18:30] otiai10 commented on #112
- [go build windows undefined - Google Search](https://www.google.com/search?ei=lnOEWoCuLM_cjwPV07eYBg&q=go+build+windows+undefined&oq=go+build+windows+undefined&gs_l=psy-ab.3..0i71k1l8.0.0.0.3185974.0.0.0.0.0.0.0.0..0.0....0...1..64.psy-ab..0.0.0....0.vLVV79nZue0)
  - https://github.com/andlabs/ui/issues/155
  - https://github.com/mattn/go-sqlite3/issues/384
  - https://github.com/mattn/go-sqlite

[2018-02-14 19:26] otiai10 commented on #112
[code]

[code]

[2018-02-14 20:11] otiai10 commented on #112
[code]

[code]

[code]

[2018-02-15 10:40] otiai10 opened #113 "Capture CGO stdout/stderr"
# Summary

- Stderr by Cgo is not captured as error of Go

e.g.

[code]

# Reproducibility

## Reproducility Frequency

- 100%

## Reproducible Dockerfile

any runtimes

# Environment

any environment

[2018-02-23 03:58] hobbs opened #114 "Unable to build: requires compiler support for the ISO C++ 2011 standard"
# Summary

I'm looking to use this with Tesseract 4.0 to take advantage of the new LSTM engine. I'm using the PPA recommended by the tesseract project: https://launchpad.net/~alex-p/+archive/ubuntu/tesseract-ocr

When I run `go get -t github.com/otiai10/gosseract` I get the following output:

[code]

I tried adding `// #cgo CFLAGS: -std=c++11` and variations of that to the client.go based on the h

[2018-02-23 07:46] otiai10 commented on #114
[code]

[2018-02-23 07:47] otiai10 commented on #114
[code]

[2018-02-23 07:57] otiai10 commented on #114
- <img src="https://launchpad.net/@@/launchpad.png" width="16px" height="16px"> [tesseract-ocr - Tesseract command line OCR tool : Alexander Pozdnyakov](https://launchpad.net/~alex-p/+archive/ubuntu/tesseract-ocr)
- <img src="https://assets-cdn.github.com/favicon.ico" width="16px" height="16px"> [4.0 with LSTM · tesseract-ocr/tesseract Wiki](https://github.com/tesseract-ocr/tesseract/wiki/4.0-with

[2018-02-23 08:42] otiai10 commented on #114
- https://stackoverflow.com/questions/14674597/cc1plus-error-unrecognized-command-line-option-std-c11-with-g

[2018-02-23 09:06] otiai10 commented on #114
https://github.com/tesseract-ocr/tesseract/issues/751

oh...

[2018-03-21 07:12] liyuliang2013 opened #118 "How can i add blacklist?"
I have some code picture with number, so i want to pass all letter

[2018-03-21 09:30] otiai10 commented on #118
I didn't got what you mean. Do you want `blacklist`, or `whitelist`?

[2018-03-21 13:02] liyuliang2013 commented on #118
I want blacklist to filter all letter

[2018-03-21 13:11] liyuliang2013 commented on #118
oh! I found the whitelist method! thanks!

[2018-03-21 14:33] otiai10 commented on #118
Anyway, I have to imple blacklist. Thanks for opening this issue 😉

[2018-03-21 14:35] liyuliang2013 commented on #118
Thanks a lot, it's very helpful

[2018-03-21 15:54] otiai10 opened #119 "settable variables"
https://groups.google.com/forum/#!topic/tesseract-ocr/eHTBzrBiwvQ

[2018-03-21 17:42] #118 closed

[2018-03-21 17:48] otiai10 opened #121 "[dev][local] Build failed in `tess3.02.02_go1.7.2_CentOS6.7`"
# positive

[code]

# negative

[code]

[2018-03-21 17:53] otiai10 commented on #121
[code]

[2018-03-22 14:01] liyuliang2013 opened #122 "go build failed in Ubuntu 14.04"
# Summary

- I meet the error ``/usr/include/c++/4.9/bits/c++0x_warning.h:32:2: error: #error This file requires compiler and library support for the ISO C++ 2011 standard. This support is currently experimental, and must be enabled with the -std=c++11 or -std=gnu++11 compiler options.
``

# Reproducibility

## Reproducility Frequency

- 100%

# Environment

[code]

[code]
# go version
go version

[2018-03-22 14:50] liyuliang2013 commented on #122
um.. i found the solution. thanks

[2018-03-22 14:50] #122 closed

[2018-03-22 15:00] otiai10 commented on #122
Could you write down the causes and solutions for one who follow you :)

[2018-04-15 05:35] ansonl opened #123 "Heroku tesseract build pack support?"
Is there a working configuration to get this working with one of the Heroku tesseract buildpacks such as https://github.com/Dkevs/heroku-buildpack-tesseract?

When compiling go app, Heroku gives error
[code]

I've tried setting CGO_CFLAGS in heroku like `heroku config:set CGO_CFLAGS='-I ${build_dir}/tesseract/../'` to no avail.

I see the example heroku project uses docker and installs libtesserac

[2018-04-24 01:43] otiai10 commented on #123
@ansonl
Thank you.
Do you mind separating issues please?

[2018-04-25 02:01] ansonl opened #124 "Tesseract BaseAPI memory leak"
Continued from #123...

There seems to be a memory leak issue in the Tesseract BaseAPI.End() function. When calling the End() function and letting client go out of scope, memory usage decreases slightly, but still takes up a couple megabytes of memory for each client struct created.

This can be seen by running the below test program:

[code]

For some reason, after the clients are closed and the

[2018-05-01 07:49] otiai10 commented on #124
at least, I guess you are leaking Ticker channel

[2018-05-01 09:17] otiai10 commented on #90
hope it helps you
https://github.com/otiai10/gosseract/blob/master/test/runtimes/tess3.04_go1.9_MinGW.Dockerfile

[2018-05-01 09:17] #90 closed

[2018-05-01 09:39] otiai10 commented on #124
`clients` slice is not garbage. It's still in scope.

I used pprof and it takes 1MB for the slice even with 500 structs long.
https://gist.github.com/otiai10/cfdc68d20c78b094ef4508adf27afdbe

How did you figure out that

?

[2018-06-04 15:28] gislikarl opened #125 "How do I use a training set with Gosseract?"
What do I need to to in order to use a training set with Gosseract?

[2018-06-04 22:08] otiai10 commented on #125
do you mean these?

- https://github.com/otiai10/gosseract/blob/master/test/runtimes/Quickstart.Dockerfile#L7-L10
- https://github.com/otiai10/gosseract/blob/master/all_test.go#L89

[2018-06-05 13:31] gislikarl commented on #125
No I mean something like creating a training set for a different set of fonts. But I think I found what I'm looking for so thank you anyways.

[2018-06-05 15:16] #125 closed

[2018-06-05 15:18] otiai10 commented on #125
@gislikarl Thank you too.
If you don't mind, share the links here so that someone else can get what you were looking for.

[2018-06-07 05:29] will7200 commented on #124
I also detected a memory leak in one of my programs, that is long running and it is prevalent. I did some further digging and it appears that tesseract does not take ownership of Pix images set to, hence it is up to the users the destroy those objects.

You can find a old doc for 3.02 [here](https://zdenop.github.io/tesseract-doc/group___advanced_a_p_i.html#ga953b401286da174e609f09c5f275734e)

It

[2018-06-07 07:52] otiai10 commented on #124
@will7200 Thank you very much!

[2018-06-07 23:20] will7200 commented on #124
@otiai10 Users might also want to clear cached data well,
ClearPersistentCache()

[2018-06-09 01:34] will7200 commented on #112
Leptonica and Tesseract have to be built by the cross-compiler to be able to build on windows, otherwise, those libraries will not be linked correctly and the package will fail to build properly.

[2018-06-09 10:43] otiai10 commented on #112
ah...

[2018-06-11 00:27] #124 closed

[2018-06-11 04:16] otiai10 opened #127 "Change method interface: `SetImage` and `SetImageFromBytes`"
Related #126

# as is

[code]

# to be

[code]

[2018-06-15 04:41] #112 closed

[2018-06-18 06:16] #127 closed

[2018-07-09 05:47] quickrworld commented on #125
Training should be done for tesseract. The documentation is located [here](https://github.com/tesseract-ocr/tesseract/wiki/TrainingTesseract-4.00).
Gosseract will derive the benefits since it calls tesseract under the covers.

[2018-07-13 09:27] yjbdsky opened #129 "how to use *.lib"
I build tesseract by Visual Studio 2017
the library file are *.lib
how to use it

[2018-07-15 05:12] juzi5201314 opened #130 "cpp error"
ubuntu@VM-119-115-ubuntu:~$ go get -t github.com/otiai10/gosseract
# github.com/otiai10/gosseract
src/github.com/otiai10/gosseract/tessbridge.cpp: In function ‘void ClearPersistentCache(TessBaseAPI)’:
src/github.com/otiai10/gosseract/tessbridge.cpp:29:8: error: ‘class tesseract::TessBaseAPI’ has no member named ‘ClearPersistentCache’
   api->ClearPersistentCache();
        ^
src/github.com/otiai10

[2018-07-16 02:48] otiai10 commented on #130
# Reproducible Docker

[code]

[2018-07-16 02:56] otiai10 commented on #130
https://github.com/tesseract-ocr/tesseract/commit/88ea81c89e2f71c428630cbe7b524e76be7a951d

[2018-07-16 03:01] otiai10 commented on #130
@juzi5201314 Thank you for reporting. I think we should no longer support tesseract 3.02.02, because `ClearPersistentCache` was [implemented on 3.03](https://github.com/tesseract-ocr/tesseract/commit/88ea81c89e2f71c428630cbe7b524e76be7a951d).

[2018-07-16 03:03] otiai10 commented on #121
Use `./test/runtime --build`

[2018-07-16 03:03] #121 closed

[2018-07-16 05:59] juzi5201314 commented on #130
ok,thanks

[2018-07-16 05:59] #130 closed

[2018-07-19 08:41] vsarin opened #132 "Installation Failure on Windows 7"
# Summary
Installation Failure on Windows 7
λ go get -t github.com/otiai10/gosseract
# github.com/otiai10/gosseract
tessbridge.cpp:5:10: fatal error: tesseract/baseapi.h: No such file or directory
 #include <tesseract/baseapi.h>
          ^~~~~~~~~~~~~~~~~~~~~
compilation terminated.
# Reproducibility
Yes
## Reproducility Frequency

- 100%

## Reproducible Dockerfile

[code]

Otherwise, describe h

[2018-08-07 04:40] javafoo commented on #132
same problem here.

[2018-08-21 20:08] imbananko commented on #132
Same for me
Any luck with the resolution?

[2018-09-01 05:29] 727023460 opened #133 "can not find libtesseract.so.3:"
/tmp/___go_build_main_go: error while loading shared libraries: libtesseract.so.3: cannot open shared object file: No such file or directory

# Environment

[code]

[code]

[code]

[code]

[2018-09-01 10:31] otiai10 commented on #133
could you make reproducible Docker

[2018-09-05 03:17] otiai10 commented on #129
@otiai10

- https://stackoverflow.com/questions/40573401/building-a-dll-with-go-1-7

[2018-09-09 05:41] DuckerMan opened #134 "Russian text recognition"
# Summary

- How I can recognize russian text?

# Environment

[code]

[code]

[code]

[code]

[2018-09-09 10:13] otiai10 commented on #134
FYI
https://github.com/otiai10/gosseract/blob/master/Dockerfile#L21-L26

[2018-09-09 14:01] DuckerMan commented on #134
Thank you

[2018-09-09 14:01] #134 closed

[2018-09-14 19:44] evu opened #136 "Request for info: support for multi-page tiffs"
# Summary

- Please confirm if support for multi-page TIFF files is present, perhaps using an option I cannot identify, or if this would require an enhancement.

- When I extract text from a multi-page TIFF using Text() it only extracts the text from the first page of the TIFF.

- When I extract text from a multi-page TIFF using the `tesseract` command line client with defaults it extracts all pag

[2018-09-20 05:32] xgz123 commented on #132
Same for me
Need help!

[2018-09-25 03:56] xgz123 commented on #40
same here
I have xcode-select already installed

[2018-10-07 15:23] dcu opened #137 "Memory leak with goroutines"
# Summary

I'm getting WARNING LEAK in object cache

[code]

# Reproducibility

100% with the following code

[code]
in my actual code is less than 100% but it's pretty high anyway
my code uses different files per goroutine

# Environment

[code]

[code]

[2018-10-08 04:19] otiai10 commented on #137
Thanks. I'll check it

[2018-10-23 02:49] otiai10 commented on #137
Just let you know both of these 2 patches fix your problem.

Thus, it seems caused by combination of `main.main`, `goroutine` and `defer`, I'm looking for an official documentation of this behavior.

---

patch 1

[code]

---

patch 2

[code]

[2018-10-23 03:04] otiai10 commented on #136
@evu Thanks. Could you give me any multi-paged tiff file as an example for development

[2018-10-23 03:13] otiai10 commented on #137
If you find any document for this behavior, please add comment here. Thank you anyway.

[2018-10-23 03:13] #137 closed

[2018-11-01 02:35] otiai10 commented on #119
gonna support settable variables **when feature requests are posted**. Close this issue now.

[2018-11-01 02:35] #119 closed

[2018-11-03 17:06] otiai10 commented on #136
ping @evu

[2018-11-05 13:08] evu commented on #136
http://www.nightprogrammer.org/wp-uploads/2013/02/multipage_tiff_example.tif

[2018-11-05 13:43] otiai10 commented on #136
thx

[2018-11-05 16:08] otiai10 commented on #136
- https://github.com/tesseract-ocr/tesseract/wiki/APIExample
- https://tesseract-ocr.github.io/3.x/index.html
    - https://tesseract-ocr.github.io/3.x/a01281.html#ga551aa98cd0a9957195f83729a599a89f
- https://github.com/tesseract-ocr/tesseract/issues/233
- https://www.google.co.jp/search?q=tesseract-ocr+multi+page+tiff+c%2B%2B+api&oq=tesseract-ocr+multi+page+tiff+c%2B%2B+api&aqs=chrome..69i57.1396

[2018-11-16 02:56] czh0318 opened #138 "macOS complie linux binary file failed"
# Summary
I'm using macOS and  going to compile binary file for centos7.1, and build failed, show message: undefined: gosseract.NewClient.
Thanks.

# Reproducibility

## Reproducility Frequency

100%

# Environment

[code]
Darwin AllenChen-MacBookPro.local 18.2.0 Darwin Kernel Version 18.2.0: Fri Oct  5 19:41:49 PDT 2018; root:xnu-4903.221.2~2/RELEASE_X86_64 x86_64
[code]
GOARCH="amd64"
GOBIN="/Us

[2018-11-16 07:43] EgeBalci commented on #132
Same here.

[code]

[2018-11-17 06:03] czh0318 commented on #138
Thank you very much, I have solved this problem.

[2018-11-17 06:03] #138 closed

[2018-11-29 03:19] hyahm opened #141 "PixImage is not set, use SetImage or SetImageFromBytes before Text or HOCRText"
function SetImage
[code]
img value is nil

[2018-11-29 04:02] #133 closed

[2018-11-29 05:36] otiai10 commented on #141
@hyahm could you please give me a sample Go code using gosseract as a package?

[2018-11-29 05:48] hyahm commented on #141
[code]

[2018-11-29 05:55] hyahm commented on #141
os: fedora 29
this is tesseract version
[code]

[2018-12-01 18:00] jdevelop opened #142 "Tests don't pass on Arch Linux"
# Summary

`go test .` fails

# Reproducibility

Clean install of tesseract-ocr and fresh checkout of `gosseract` on Arch Linux

## Reproducility Frequency

- 100%

## Reproducible Dockerfile

[code]

# Environment

[code]

[code]

[code]

[code]

[2018-12-03 09:00] otiai10 commented on #142
So far, IMO, it seems because of this issue https://github.com/tesseract-ocr/tesseract/issues/751

I'm making another test case with Tesseract 3.04 to separate the problems more specifically. Thanks for reporting anyway.

[2018-12-06 08:31] otiai10 commented on #141
@hyahm
I guess you didn't install `libpng` (nor `libjpeg`) before building leptonica.
It might cause errors like

[code]

and returns `null`.

You might find out this errors when you hit `go test -v github.com/otiai10/gosseract` on your environment.

Please check

[2018-12-06 08:35] otiai10 commented on #141
https://metacpan.org/pod/Image::Leptonica::Func::readfile#pixRead

[2018-12-06 13:00] hyahm commented on #141
[code]
thanks    It should be a system problem.
in centos 7 is ok

[2018-12-07 14:00] #142 closed

[2018-12-07 14:00] #141 closed

[2018-12-24 21:17] gedw99 opened #144 "Does not return the position of each word location ?"
I just tried via the demo running on heroku. It gave back the text but all as one long string

The image was a invoice with certain data in specific name value pairs and it's those name value pairs that allow me to classify who the invoice is from.

So if I knew the position then I would've able to deduce who it was from since companies structure their invoices and receipts vary differently.

[2018-12-25 07:00] otiai10 commented on #144
ah, thanks for reporting. are you talking about github.com/otiai10/ocrserver ?
I'm gonna implement hOCR demo as well. Thanks.

[2019-01-08 07:40] otiai10 opened #145 "Whitelist and Blacklist not working with tesseract 4.0"
https://github.com/tesseract-ocr/tesseract/issues/751

[2019-01-15 07:50] rehman297 commented on #57
It didn't work for me on windows machine.
I am still getting error:
Error opening data file ./eng.traineddata
Please make sure the TESSDATA_PREFIX environment variable is set to your "tessdata" directory.
Failed loading language 'eng'
Tesseract couldn't load any languages!

[2019-01-16 08:06] aliforever commented on #132
go get -t github.com/otiai10/gosseract
# github.com/otiai10/gosseract
tessbridge.cpp:5:10: fatal error: tesseract/baseapi.h: No such file or directory
 #include <tesseract/baseapi.h>
          ^~~~~~~~~~~~~~~~~~~~~
compilation terminated.

Same, on Windows 10

[2019-01-17 07:04] otiai10 commented on #132
did you install header files as well?

[2019-01-17 12:34] cenav commented on #132
No, i didn't

El 17 ene. 2019 2:04 a.m., "Hiromu OCHIAI" <notifications@github.com>
escribió:

did you install header files as well?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/otiai10/gosseract/issues/132#issuecomment-455064415>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AVTJRKSAEhTs9vakxYfymK3ylf

[2019-01-17 12:55] aliforever commented on #132
I have installed Tesseract, don't know about header files,. How do I install them on windows?

[2019-01-19 06:33] aliforever commented on #132
If anyone has the same problem, you could use below command as a replacement for the library until a fix comes:
[code]
It saves the result in output.txt file

[2019-01-20 08:48] otiai10 commented on #132
Just for your information 👉 https://github.com/otiai10/gosseract/pull/21

I'm gonna keep working on this request: Nicer tutorial for using this package on Windows.

Thank you anyway.

[2019-01-20 14:20] moolen commented on #113
Let me add some additional information

LMGTFY: Implementation example using `os.Pipe` to capture stdout/stderr: https://github.com/zimmski/osutil/blob/master/capture.go#L65

Question: how do we want to tackle concurrency? We could either use a locking mechanism or call c from a subprocesses (high overhead)

[2019-01-25 09:59] xiaodi2015 commented on #132
hope someone can solve this problem earlier.

[2019-01-28 05:31] otiai10 commented on #129
no updates

[2019-01-28 05:31] #129 closed

[2019-01-28 10:01] otiai10 commented on #144
@gedw99
Check it out https://ocr-example.herokuapp.com/

[2019-01-28 10:01] #144 closed

[2019-01-31 19:03] moolen commented on #132
It's great to see windows users! I tried to install it on windows, too. It was a hell of a ride. We could ship a `includes/` directory with this repo which contains the header files for tesseract and leptonica. That let's gosseract compile.

For the linkage, however, the user still has to grab or compile tesseract and libleptonica. The latter is not packaged for windows yet and is a pain to get it

[2019-02-10 03:03] otiai10 opened #149 "Map hOCR text to Go struct"
# as is

[code]

# to be

[code]

[2019-02-10 03:11] otiai10 commented on #149
- https://en.wikipedia.org/wiki/HOCR
- http://kba.cloud/hocr-spec/1.2/

[2019-02-13 22:27] moolen commented on #132
I got a first (native) build on windows working :tada:
It's a simple `gosseract.Version()` call but it's using the C interface under the hood.

changes in a nutshell:
* provide `includes/` dir in the gosseract repo
* build & provide dlls for leptonica & tesseract
* link against those libs
* add tesseract dir to `$PATH` (for remaining shared libs)

I'm not sure where to go from here. I don't want t

[2019-02-15 23:18] josh-atpdevel opened #150 "Request for info: support for uzn files"
I was looking into using this library hoping I could use uzn file. I have the file with the same name as my image in the same directory and using Page Seg Mode of 4.

Does this library support the use of uzn files? if so what am I missing to get this to work?

[2019-02-19 06:13] #149 closed

[2019-02-26 04:23] yjjnls commented on #57
@rehman297 I also met the problem in ubuntu. I set TESSDATA_PREFIX but it sitll raised the error. Have you fixed it?

[2019-02-26 05:09] otiai10 commented on #57
Ubuntu: https://github.com/otiai10/gosseract/blob/master/test/runtimes/ubuntu.Dockerfile

[2019-03-18 07:25] PuKoren commented on #145
I'm not sure if the following will help, but whitelisting seems to work well for me now (Arch Linux)

Tesseract info:
[code]

I use whitelist like this (was not aware of the SetWhitelist method when I wrote the code):
[code]

And the text returned contains effectively only numbers. I needed to do that to improve accuracy as it reported letters before

[2019-03-18 15:06] otiai10 commented on #145
Thank you for letting me know. I will add a test runtime for tess4.0 x Arch Linux [here](https://github.com/otiai10/gosseract/tree/master/test/runtimes) 👍

[2019-03-18 16:04] otiai10 opened #154 "Save initializing cost"
#153

[2019-03-22 15:11] otiai10 commented on #145
@PuKoren

I added [tess4.00_lepto1.77_go1.12_ArchLinux.Dockerfile](https://github.com/otiai10/gosseract/blob/2c7b509567f94bd3627b81bff68db7ac20faca6d/test/runtimes/tess4.00_lepto1.77_go1.12_ArchLinux.Dockerfile), it seems whitelist/blacklist are not working on Tesseract4.00 as same as other runtimes.

You can try it by

[code]

See https://cloud.docker.com/repository/docker/gosseract/test for mote

[2019-04-03 09:16] lluck42 commented on #132
i hava the save problem in win 10. and i don't find any *.h file in tesseract-ocr dir.

[2019-04-10 08:56] otiai10 commented on #150
@josh-atpdevel Could you give me some example files of uzn?

[2019-04-19 08:03] jftuga opened #156 "example should not ignore err"
In your `README.md` example, you have:

    text, _ := client.Text()

I think it would be better to have:

    text, err := client.Text()
    if err != nil {
        fmt.Println(err)
    }

Once I did this, I actually saw a useful error message:

    PixImage is not set, use SetImage or SetImageFromBytes before Text or HOCRText

FWIW, this error was caused because I used the wrong path `client.Set

[2019-04-19 08:31] otiai10 commented on #156
@jftuga Thank you! Can you summarize what the problem is and what it should be?

[2019-04-19 09:18] jftuga commented on #156
I have listed 2 problems here - sorry about that.

Really the only thing I am suggesting is to change the Example in your `README.md` file to include error checking instead of ignoring it by using the `_` place holder.

[2019-04-28 08:18] wangsongyan commented on #132
I'm in trouble with compling this repo on windows 10, need your help

[2019-04-30 10:55] markschmid commented on #138
@czh0318 How did you solve this problem? I'm having exactly the same issue and am very interested in a solution.

[2019-05-01 03:53] otiai10 commented on #138
@markschmid I am very interested in what you are facing.I still don't figure out what the problem is. Could you give me command-by-command log?

[2019-05-01 08:18] markschmid commented on #138
@otiai10 We were facing the same `undefined: gosseract.NewClient.` error message when compiling our .go files. In the meantime, we were able to resolve it by changing `CGO_ENABLED=0` to `CGO_ENABLED=1`

We're trying to build a very minimal docker container with just what's really needed from tesseract (version 4) and our standalone application binary (cross compiled from our .go files).

Maybe you

[2019-05-06 23:04] moolen commented on #132
@wangsongyan here's roughly what i did. Please let me know if that helps you.

#### Prerequisites

* [Go build toolchain on windows](https://github.com/golang/go/wiki/WindowsBuild#the-manual-way)

Grab the Tesseract precompiled binaries from: https://github.com/UB-Mannheim/tesseract/wiki
download & extract it to `$GOPATH/src/github.com/otiai10/gosseract/tesseract`

Grab leptonica sources from [her

[2019-05-08 08:42] wangsongyan commented on #132
@moolen Thank you very much! According to your method, I have run successfully.

[2019-05-16 07:17] johnsonz opened #158 "win10 tessbridge.cpp:5:10: fatal error: tesseract/baseapi.h: No such file or directory"
# Summary

- Installation failed on win 10 x64 by `go get -t github.com/otiai10/gosseract`
![Capture](https://user-images.githubusercontent.com/2533629/57833496-b7bb3f80-77ec-11e9-8cef-c26c05db7c1f.JPG)

[code]

# Reproducibility
`go get -t github.com/otiai10/gosseract`

## Reproducility Frequency

- 100%

## Reproducible Dockerfile

[code]

Otherwise, describe how to reproduce

1. `foo bar`
2. `s

[2019-05-16 10:13] otiai10 commented on #158
Is this duplicated with #132 ?

[2019-05-21 19:27] konkers commented on #145
Also failing under MacOS with tesseract 4.0 install via homebrew:

[code]

[2019-06-05 20:02] raff opened #161 "stderr not restored properly in MacOS"
# Summary

On MacOS (10.14) after calling NewClient (or any function that causes the low level Init function to be called) writes to stderr (i.e. log.Println) are lost.

# Reproducibility

## Reproducility Frequency

- 100%

- was working fine before I updated gosseract
- works fine if I comment out the code that redirects stderr and adds buffering

# Environment

[code]

[code]

[code]

[code]

[2019-06-17 08:07] otiai10 commented on #161
@raff Thank you for reporting. So far, I couldn't reproduce the problem, meaning I can see messages printed on the screen (which might be stderr).

Could you give me a test case which specifies stderr is not released?

[2019-06-20 20:17] raff commented on #161
I am using a slightly modified version (needed to be able to change the OCR Engine Mode and a few minor thing).

It looks like your version does work, but mine doesn't (and all I can think of is that have additional parameters in the Init function).

Anyway, you can close this bug.

[2019-06-20 20:17] #161 closed

[2019-06-28 06:21] eravallirao opened #162 "Is there a way to retrain the tesseract model and replace it? or is it just library?"
# Summary

- bla bla bla

# Reproducibility

## Reproducility Frequency

- XX%

## Reproducible Dockerfile

[code]

Otherwise, describe how to reproduce

1. `foo bar`
2. `spam ham`
3. `hoge fuga`

# Environment

[code]

[code]

[code]

[code]

[2019-06-30 05:35] otiai10 commented on #162
Hi, @eravallirao

For now, `gosseract` is a library to use tesseract model and you, a user, have to train the model by using `tesseract` native API.
If you are familiar with `tesseract` C++ API to train/retrain the model and show developers how to bridge them, this can be good starting point for us to improve `gosseract`. Thanks.

[2019-07-02 12:29] DeadNumbers opened #163 "Can't recognition russian text"
Tesseract version
[code]
go env
[code]
go version `go version go1.12.6 linux/amd64`

uname -a
[code]
code
[code]

This example return __always__ one result on different images.
<details>
Ва . оао р° ее щ ы чгіё“ оа Ч9 А ,‚ йО оЩИ
э и ь ч ы М КА РР ег ° 3 За ТЕ '‹_'х“"' 1"—"›";‹" 3 оЙЕО * 'а
Е. р '‚—&; од о 3 В оЛОНО ср аОН УЕ 'ЁЕ ;‚{Ё_' Ё : ы
ВЕ ЗИ ВОр ! 3 ‘ ‘ор оВАВЕ Ноко ОЕ аы АНОа :
сВ Щ аТН аЙ

[2019-07-02 12:30] DeadNumbers commented on #163
Also, do not worry, it is a fake passport.

[2019-07-03 00:31] otiai10 commented on #163
@otiai10
https://github.com/tesseract-ocr/tessdata_best/blob/master/rus.traineddata

[2019-07-03 00:40] otiai10 commented on #163
@otiai10

# Pros

[code]

# Cons

[code]

# Env

[code]

[code]

[2019-07-03 10:00] eravallirao commented on #162
Hi, **@otiai10**

I have fine tuned(retrained) the existing model of **Tesseract** for English language(for different fonts **"eng.lstm"**). I got a **checkpoint** file. Now is there a way to integrate that model into the **gosseract**. Please help me.

[2019-08-06 03:09] reformc commented on #158
I have the same problem,

[2019-08-08 08:42] mjarkk commented on #132
I had the same issue on fedora (linux),
I've solved it by installing: `tesseract-devel`
For the Ubuntu this is: `libtesseract-dev`

[2019-08-08 13:44] otiai10 commented on #132
See https://github.com/otiai10/gosseract/tree/master/test/runtimes for linux runtimes

[2019-08-11 08:03] avan06 opened #167 "PageSegMode will be Initialized to 6 after executing Client.Text()"
# Summary

- PageSegMode will be Initialized to 6 after executing Client.Text()

# Reproducibility

## Reproducibility Frequency

- 100%

## Reproducible
[code]
- PS. I added GetPageSegMode() on
- "github.com\otiai10\gosseract\client.go" for show PageSegMode

[code]

# Environment

[code]

[code]

[code]

[code]

[2019-08-13 09:37] otiai10 commented on #163
@DeadNumbers
Let me confirm one thing

Does it mean you get **the same result** with **several different images**?

[2019-08-15 00:55] reformc opened #169 "how to use it by docker"
I can't use it on win10.

[2019-08-15 01:01] otiai10 commented on #169
Let me know

- What you want to do
- What you tried
- What you saw
- What you expected

[2019-08-15 01:03] otiai10 commented on #158
closing due to no response

[2019-08-15 01:03] #158 closed

[2019-08-15 01:04] otiai10 commented on #150
closing due to no response

[2019-08-15 01:04] #150 closed

[2019-08-15 01:17] otiai10 commented on #156
IMO, it's too sweet. Users can add the error check by theirselves

[2019-08-15 01:19] otiai10 commented on #162
@eravallirao
Could you please share what you knew and how you solved this issue?
so that I can close here.

[2019-08-15 03:03] reformc commented on #169
I want compile go files in docker

[2019-08-18 05:44] otiai10 commented on #169
It seems these files could help you
https://github.com/otiai10/gosseract/tree/master/test/runtimes

[2019-08-18 05:44] #169 closed

[2019-08-22 06:36] orange-jacky opened #171 "can support func (client *Client) SetImage(reader io.Reader) error"
can support func (client *Client) SetImage(reader io.Reader) error

[2019-08-22 14:04] otiai10 commented on #171
I think the reader must be read and become bytes array internally, users should create bytes array by theirselves.

For what reason do you want that?

[2019-08-23 02:09] orange-jacky commented on #171
to []byte, you must read the  image to memory, meanwhile use io.Reader you need't read image to memory, and you can directly operate image file

[2019-08-23 13:28] otiai10 commented on #171
OK, then, do you know if tesseract has an interface which accepts read stream?

[2019-09-03 11:52] a8568730 commented on #40
@martinlindhe @pindamonhangaba

Thanks!

[2019-09-11 13:58] xDWart opened #172 "SetImageFromBytes dont work with tesseract 5.0.0-alpha"
I have tesseract 5.0.0-alpha and try to set image from bytes.
It causes the next error:

[code]

# Environment

[code]

[code]

[code]

[code]

[2019-09-11 14:09] otiai10 commented on #172
@xDWart could you give me a reproducible docker?

[2019-09-11 18:54] xDWart commented on #172
I will try

[2019-09-12 03:27] xDWart commented on #172
@otiai10 the error disappeared after reinstalling the operating system and rebuilding tesseract. Sorry for bothered you. Thank you very much for your library.

[2019-09-12 03:27] #172 closed

[2019-09-25 17:29] frankble opened #175 "macOS compile freebsd binary file failed"
# Summary

I'm using macOS 10.14.6 and going to compile binary file for FreeBSD 11.3, and build failed, show message: undefined: gosseract.NewClient.

# Reproducibility

## Reproducibility Frequency

100%

# Environment

[code]

[code]

[code]

[code]

# Source

[code]

# Compile command

[code]

# Error Message

[code]

[2019-09-27 06:11] otiai10 commented on #175
I just fixed the runtime test for FreeBSD on develop branch, plz try

[code]

and once this test passes, you can use this runtime to reproduce your problem.

[2019-09-27 07:10] frankble commented on #175
many thanks for your response. can u please explain more detailed what to do?

[2019-09-27 14:19] otiai10 commented on #175
What you need to have:

- VirtualBox
- Vagrant

What to do:

- `./test/runtime -d vagrant`
- Open VirtualBox desktop app
- Select `gosseract-test-freebsd` VM which is just created and get into it
- Do what you want. You are in FreeBSD.

[2019-09-27 14:44] frankble commented on #175
When u do ./test/runtime -d vagrant inside your repo I only get an error:
`usage: dirname path`

That's why i asked what to do. I already have virtualbox and vagrant installed.

[2019-09-27 14:56] otiai10 commented on #175
Hey, thank you for providing the important information. It seems a bug of `./test/runtime`. Can you apply this patch and try again, I'm gonna fix this later though?

[code]

[2019-09-27 15:10] frankble commented on #175
After applying the patch I get:
`ls: /Volumes/home/Development: No such file or directory
ls: files/Go: No such file or directory
ls: files/src/github.com/otiai10/gosseract/test/runtimes/*.Vagrantfile: No such file or directory`

[2019-09-27 15:16] otiai10 commented on #175
OK thanks let's do that without `./test/runtime` script

[code]

[2019-09-27 17:20] frankble commented on #175
Many thanks for your help.

[2019-09-27 17:20] #175 closed

[2019-10-29 05:29] yiyiyaya opened #176 "info in pixReadStreamPng: converting (cmap + alpha) ==> RGBA"
[code]
output : info in pixReadStreamPng: converting (cmap + alpha) ==> RGBA
             Info in pixReadStreamPng: converting 8 bpp cmap with alpha ==> RGBA

[2019-10-29 05:45] yiyiyaya commented on #176
resolved

[2019-10-29 10:57] otiai10 commented on #176
how?

[2019-11-04 15:39] sukshifr opened #177 "Running gosseract prevents logs from printing"
[code]
Below are my logs

[code]

hello1 is not printed.
Please can you help me resolve the issue?

[2019-11-16 19:20] tebruno99 opened #178 "Leaks /dev/ttysXXX file handles even when Close() is manually called"
# Summary
This is a real issue for me as I am capturing images via security camera and every frame runs through Tesseract in real time.

While running in a loop over files, OpenCV video frame, or as a web service, gosseract is opening a new /dev/ttys002 (or /dev/pts/004) every time an image is parsed. This eventually leads to a situation of running out of allowed file handlers.

I have attached th

[2019-11-16 21:33] tebruno99 commented on #178
I am still learning about cgo but I was able to stop this from happening by removing the stderr stuff from tessbridge.cpp Init

[code]

[2019-11-17 00:51] otiai10 commented on #178
aaaaaaaahhhhhhhhh, likely... Thank you for your information, very helpful.

[2019-11-17 17:12] craziex commented on #178
@otiai10  can fix it ?  i get that error too, run out of  File descriptors limit in some time.

[2019-11-17 17:13] otiai10 commented on #178
gonna fix it in a week, if I can have time

[2019-11-17 17:15] craziex commented on #178
@otiai10 thanks for your reply.

[2019-11-18 14:10] tierline1 opened #179 "example with image.Image"
Please give an example of how to set and recognise text from pic in memory - image.Image type

[2019-11-18 14:14] otiai10 commented on #179
Read it as bytes and use https://godoc.org/github.com/otiai10/gosseract#Client.SetImageFromBytes.

Is it what you want?

[2019-11-19 10:40] tierline1 commented on #179
[code]
and no correct recognition, but when i get same pic from file
client.SetImage(myImageFile)
averything is OK

can you provide working example?

[2019-11-19 15:25] otiai10 commented on #179
[code]

[2019-11-19 15:26] otiai10 commented on #179
<img width="236" alt="example" src="https://user-images.githubusercontent.com/931554/69160100-bcc4b880-0ac7-11ea-8ddb-5251eb16f92e.png">

[2019-11-19 15:27] otiai10 commented on #179
oops, don't forget to close your client

[2019-11-19 15:31] otiai10 commented on #179
what's the format of your image?

[2019-11-20 09:52] eravallirao opened #180 "Character level confidence"
Hi,

Is there any way to get the confidence levels character wise instead of word level

[2019-11-20 10:23] otiai10 commented on #180
This package doesn't provide ways. Let me check tesseract.

[2019-11-20 10:27] eravallirao commented on #180
Thank you very much

[2019-11-21 02:08] tebruno99 commented on #179
@tierline1 This code is working fine in my project.
[code]

[2019-11-22 20:02] Tobi696 opened #181 "Text() always returns the same string"
# Summary

I used the SetImageFromBytes method to provide the source image.
However, only the first call returns the expected result, the following calls always return the same as the first call, no matter how the source image has changed. First I tried it with 1 client, then I tried it with a new client for every image I want to do OCR on. However, the output was the same

# Reproducibility

Here

[2019-11-23 23:30] otiai10 commented on #181
Give me example images and `go.mod` of your project

[2019-11-25 01:09] craziex commented on #178
@otiai10 when to fix this bug？

[2019-11-25 17:24] Tobi696 commented on #181
I have no go.mod file, the first image shows the text "Carl Harbour" and the second shows "cambridge university"

[2019-11-25 18:08] otiai10 commented on #181
OK, give me example images. It doesn't seem the same.

[2019-11-26 18:50] Tobi696 commented on #181
![name](https://user-images.githubusercontent.com/44548981/69663172-01cb8a80-1086-11ea-8721-9074c85ddc24.png)
![school](https://user-images.githubusercontent.com/44548981/69663178-04c67b00-1086-11ea-8664-c95f29e57696.png)

[2019-12-09 04:56] QQ3544291 opened #182 "tessbridge.cpp:5:10: fatal error: leptonica/allheaders.h: No such file or directory"
# Summary

Installation failed on win 10 x64 by go get -t github.com/otiai10/gosseract
$ go get -t github.com/otiai10/gosseract
# github.com/otiai10/gosseract
tessbridge.cpp:5:10: fatal error: leptonica/allheaders.h: No such file or directory
 #include <leptonica/allheaders.h>
          ^~~~~~~~~~~~~~~~~~~~~~~~
compilation terminated.

I don't know about header files,. How do I install them on win

[2019-12-09 06:40] otiai10 commented on #182
leptonica-dev?

[2019-12-09 10:34] QQ3544291 commented on #182
oh,I don't know how how to install it.The reason is that My Google search for the installation method is linux, but I'm just getting started.I hope you can tell me how to install it on Windows.
(╥╯^╰╥)

[2019-12-09 10:54] QQ3544291 commented on #182
I don't know if cygwin will help me install this leptonica.
I'll try.
ε=(´ο｀*)))
I'm sorry for the trouble

[2019-12-09 16:27] otiai10 commented on #182
https://vorba.ch/2014/tesseract-cygwin.html
seems helpful

[2019-12-09 16:28] otiai10 commented on #182
don't close this issue and please share any knowledge here you found / would find

[2019-12-15 18:37] vlad-s commented on #178
Can also confirm this happening on Pop!_OS 19.10, a Debian 10 VM, and three different Centos 7 machines. I am using this in a web server based application, and this bug is making `gosseract` be useless in long lived applications. We can test this by using a simple Go program, checking the file descriptors, and then using the code @tebruno99 used, or any other variation. I for one encountered it us

[2019-12-16 07:52] #178 closed

[2019-12-16 07:58] tebruno99 commented on #178
Thanks!!

[2019-12-16 08:02] otiai10 commented on #178
Guys, please check the latest version and reopen this issue if you still find anything wrong

[2019-12-16 08:31] otiai10 commented on #178
Thank you for being patient

[2019-12-17 02:12] otiai10 commented on #182
@QQ3544291 Have you solved this issue or no longer need it?

[2019-12-17 02:16] otiai10 commented on #179
without any reaction in a week, this issue will be closed

[2019-12-17 02:16] otiai10 commented on #181
@Tobi696 could you give me reproducible docker?

[2019-12-17 02:28] otiai10 commented on #177
@sukshifr can you give me a reproducible Docker? and please follow the issue template

[2019-12-17 02:29] otiai10 commented on #176
@yiyiyaya how?

[2019-12-17 02:30] otiai10 commented on #167
@avan06 Could you give me a reproducible Docker?

[2019-12-17 02:40] otiai10 commented on #163
without any reply in a week, this issue will be closed

[2019-12-17 03:40] QQ3544291 commented on #182
I'm sorry. I seem to be busy with the middle school exam now. Now I also have new problems, as shown in the figure
[https://github.com/QQ3544291/error/blob/master/error.png](url)

[2019-12-17 05:43] otiai10 commented on #182
OK, it seems another problem, NOT represented by this issue thread. I'm gonna close here.

Good luck with your exam ;)

[2019-12-17 05:43] #182 closed

[2019-12-17 05:44] #162 closed

[2019-12-17 05:45] #156 closed

[2019-12-17 09:18] HelloHaiGG commented on #182
hello, on my Linux (debian) "go get github.com/otiai10/gosseract" encountered the same error message, but I don't know how to install the missing libraries on Linux, please help me!!!!!!!!!!!!

[2019-12-17 09:46] otiai10 commented on #182
@HelloHaiGG
Is there the runtime you are working on in this folder?
https://github.com/otiai10/gosseract/tree/master/test/runtimes

[2019-12-24 07:16] otiai10 commented on #163
Gosseract can be effective if you know the position of chars and fonts and you can trim the original image only with those chars. Not sure this comment helps your problem but it seems you are no longer interested in this issue. Gonna be closed. Thx

[2019-12-24 07:16] #163 closed

[2019-12-24 07:17] otiai10 commented on #181
No reaction for a while

[2019-12-24 07:17] #181 closed

[2019-12-24 07:19] otiai10 commented on #179
No reaction for a while.

[2019-12-24 07:19] #179 closed

[2019-12-24 07:20] otiai10 commented on #176
@yiyiyaya In OSS project, it's very important to share knowledge and prevent someone else from doing the same shit. Please share what you did and how you did solve it.

[2019-12-24 07:20] #176 closed

[2019-12-24 07:22] otiai10 commented on #177
No reaction for a while

[2019-12-24 07:22] #177 closed

[2020-01-03 12:31] littlepiggy03 opened #184 "Unable to download version 2.2.2 by go get"
# Summary

unable to download version 2.2.2 by `go get`

# Reproducibility

## Reproducibility Frequency

- 100%

## Steps to Reproduce

[code]

`v2.2.2` is not shown.

# Environment

[code]

[code]

[code]

---

Is it my fault?

[2020-01-05 09:05] eravallirao opened #185 "Preprocessing steps"
Does this go interface does preprocessing steps for the image before passing onto to model? Can you please help with this

[2020-01-06 01:47] littlepiggy03 commented on #184
It seems that `go get github.com/otiai10/gosseract@master` is a workaround.

[2020-01-07 06:20] #184 closed

[2020-01-07 06:47] otiai10 commented on #184
@littlepiggy03 Thank you for being patient. You can now

[code]

[2020-01-07 06:59] otiai10 commented on #184
Reproducible Dockerfile

[code]

Try

[code]

[2020-01-07 07:33] otiai10 commented on #185
https://github.com/tesseract-ocr/tesseract/wiki/ImproveQuality

[2020-01-07 07:33] otiai10 commented on #185
https://github.com/tesseract-ocr/tesseract/blob/master/src/ccmain/tesseractclass.h

[2020-01-08 16:22] littlepiggy03 commented on #184
Thanks!

[2020-01-09 02:14] otiai10 commented on #184
Thank YOU. I didn't notice this problem. Good to learn for me. Thank you for reporting ;)

[2020-01-14 02:00] ayaya118 opened #186 "fatal error: leptonica/allheaders.h: No such file or directory"
# github.com/otiai10/gosseract
tessbridge.cpp:5:10: fatal error: leptonica/allheaders.h: No such file or directory
 #include <leptonica/allheaders.h>
          ^~~~~~~~~~~~~~~~~~~~~~~~
compilation terminated.

![1](https://user-images.githubusercontent.com/4150721/72307330-e3acfe80-36b4-11ea-872a-9ba4657fe9a5.png)

how can fix it ?

[2020-01-14 06:00] otiai10 commented on #186
https://github.com/tesseract-ocr/tesseract/wiki/Compiling#windows

[2020-01-15 16:10] KyllianHmd commented on #186
<img width="691" alt="Capture d’écran 2020-01-15 à 16 07 37" src="https://user-images.githubusercontent.com/27286901/72449811-2eac3c00-37b1-11ea-98c2-35cae075a457.png">

I'm on macOS and I followed this part : https://github.com/tesseract-ocr/tesseract/wiki/Compiling#macos, but still have the same error, any idea ?

[2020-01-20 03:20] ayaya118 commented on #186
yes.thx!

[2020-01-20 06:20] otiai10 commented on #186
@ayaya118
does it work?

[2020-01-21 06:17] ayaya118 commented on #186
yes,it`s fine!

[2020-01-21 06:28] otiai10 commented on #186
cool. I might ask details when any similar issues are reported. thx anyway

[2020-01-21 06:28] #186 closed

[2020-01-23 20:09] leftwichj opened #187 "Benchmark improvements on GetBoundinxBoxes functions"
#Summary

In looking at the library noticed room for small improvements on the GetBoundingBoxes and GetBoundingBoxesVerbose actions.

Within those methods setting the capacity of the returned array will reduce allocs/op and B/op
out = make([]BoundingBox, 0, length)

I can do a quick PR on this if you would like.

[2020-02-02 17:40] forstmeier opened #189 "503 error running image through example site"
# Summary

- Trying to submit a JPG file on the example website results in a 503 message in the output field

# Reproducibility

## Reproducibility Frequency

- 100%

Otherwise, describe how to reproduce

1. Take picture of text on a notepad (attached)
2. Upload to test website
3. Hit "Submit"
4. 503 error returned in output field

![test](https://user-images.githubusercontent.com/13358530/7361235

[2020-02-03 02:57] otiai10 commented on #189
I guess you meant this site https://ocr-example.herokuapp.com/,
and tried with your picture.

I got 503 as well, but 200 with smaller-resized image.
It seems because it's using a small tier of heroku instance which easily hits OOM.

**Conclusion:** Don't use huge pictures with the example site, otherwise you should setup [this server package](https://github.com/otiai10/ocrserver) on your huge inst

[2020-02-03 03:14] otiai10 commented on #187
Merged. Thanks a lot!

[2020-02-03 03:14] #187 closed

[2020-02-03 13:05] leftwichj commented on #187
Thank you.  Great library.

[2020-02-03 14:27] forstmeier commented on #189
@otiai10 That answers the question perfectly - thanks!

[2020-02-03 15:01] #189 closed

[2020-02-06 07:28] alanimgur commented on #167
I've been able to confirm this as well. It's causing me to SetPageSegMode before every Text call.

[2020-02-14 22:05] sushiljacksparrow opened #190 "exec: "gcc": executable file not found in $PATH"
# Summary

Creating docker image fails with error -
exec: "gcc": executable file not found in $PATH

# Reproducibility
Yes
## Reproducibility Frequency

-100%

## Reproducible Dockerfile

[code]
uname -a
[code]
go env
[code]
go version
[code]
tesseract --version
[code]

[2020-02-15 06:23] otiai10 commented on #190
Just because you don't have `gcc`, do you?

BTW, your Dockerfile is NOT reproducible, since I don't have your `go.mod`, either `.`.

[2020-02-15 14:42] sushiljacksparrow commented on #190
### $ gcc --version

Configured with: --prefix=/Library/Developer/CommandLineTools/usr --with-gxx-include-dir=/Library/Developer/CommandLineTools/SDKs/MacOSX10.14.sdk/usr/include/c++/4.2.1
Apple LLVM version 10.0.1 (clang-1001.0.46.4)
Target: x86_64-apple-darwin18.7.0
Thread model: posix
InstalledDir: /Library/Developer/CommandLineTools/usr/bin

* here is my go.mod

module github.com/go-ocr

go 1.

[2020-02-15 14:56] otiai10 commented on #190
1. Your gcc is existing on **YOUR MACHINE**, not on your container.
2. I still don't have your application code: represented by `.`.

You can try this line on your dockerfile to install `gcc` on your container.

[code]

Please don't forget to report any progress on this issue thread, so that other developers can check and learn for similar problems.

[2020-02-15 15:14] sushiljacksparrow commented on #190
Ok, now I am hitting a separate problem

# github.com/otiai10/gosseract
tessbridge.cpp:5:10: fatal error: tesseract/baseapi.h: No such file or directory
 #include <tesseract/baseapi.h>
          ^~~~~~~~~~~~~~~~~~~~~
compilation terminated.

Here is my latest Dockerfile

FROM golang:1.13-alpine
EXPOSE 8080

WORKDIR $GOPATH/src/github.com/go-ocr
COPY go.mod ./
RUN mkdir -p $GOPATH/src/github.com/go

[2020-02-15 15:18] otiai10 commented on #190
See alpine installation instruction here
https://github.com/otiai10/gosseract/blob/master/test/runtimes/alpine.Dockerfile

[2020-02-15 15:18] #190 closed

[2020-02-15 15:34] sushiljacksparrow commented on #190
It finally worked.

Thanks for your support and direction. Here is my latest docker file

FROM golang:1.13-alpine

RUN apk update
RUN apk add \
  g++ \
  git \
  musl-dev \
  go \
  tesseract-ocr-dev

WORKDIR $GOPATH/src/github.com/go-ocr
COPY go.mod ./
RUN mkdir -p $GOPATH/src/github.com/go-ocr

RUN apk add build-base
COPY . $GOPATH/src/github.com/go-ocr

RUN go build -o ocr .
EXPOSE 8080

CMD ["

[2020-02-23 14:29] turbosheep44 opened #191 "File handles opened but never closed"
# Summary

The tesseract client opens files and does not close them even with a call to `client.Close()` until the system file limit is reached and the program crashes.

# Reproducibility

## Reproducibility Frequency

Always.

## Minimal Example

Run the following program:

[code]

Then use the command:
[code]
and observe that the program continually opens new files that are never closed.

Simila

[2020-02-23 14:34] otiai10 commented on #191
Seems related to https://github.com/otiai10/gosseract/issues/178

Could you please let me know which version of gosseract you are using?

[2020-02-23 14:41] turbosheep44 commented on #191
From `go.mod` of the minimal example:

[code]

[2020-02-23 14:46] otiai10 commented on #191
How about using v2.2.4.
Perhaps you need to specify by `require github.com/otiai10/gosseract/v2` or something like that

[2020-02-23 15:06] turbosheep44 commented on #191
Great! No issues with v2.2.4! Thanks!

Might I suggest updating the official example in the README to use `github.com/otiai10/gosseract/v2` instead of `github.com/otiai10/gosseract`.

[2020-02-23 15:35] #191 closed

[2020-03-02 10:41] themrkumar opened #192 "cannot find package "github.com/otiai10/gosseract/v2""
Hello,
I have installed the package using  `go get github.com/otiai10/gosseract`  and imported it in my package: `"github.com/otiai10/gosseract/v2"` as per instructions.

# Summary
I get this compile time error:

# Environment
Ubuntu 18.08
[code]
Linux pc5 5.3.0-28-generic #30~18.04.1-Ubuntu SMP Fri Jan 17 06:14:09 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

[code]
GO111MODULE=""
GOARCH="amd64"
GOBIN

[2020-03-02 11:24] otiai10 commented on #192
Could you show me the command line output when you execute followings:

[code]

[2020-03-02 11:29] otiai10 commented on #192
Or, if you're using `go mod`, just hit `go mod vendor`

[code]

[2020-03-02 12:07] themrkumar commented on #192
Here it is:

[code]

[2020-03-02 12:50] otiai10 commented on #192
OK,

[code]

[2020-03-03 11:38] themrkumar commented on #192
I don't want to deal with modules. My app works fine when I import  `"github.com/otiai10/gosseract"`.
What difference does it make if I just use the package without `v2`?

[2020-03-03 15:24] otiai10 commented on #192
When you don't use module and just write `"github.com/otiai10/gosseract"`, it will download the latest version of the package and there is not way to freeze the version of that package.

[2020-03-18 01:34] kvnxiao commented on #186
How exactly do you fix this issue @ayaya118 ?

Did you follow `Build the latest library` or `Develop Tesseract` instructions on the https://tesseract-ocr.github.io/tessdoc/Compiling#Windows page?

[2020-03-23 12:31] lleiiell opened #193 "Is this support Tesseract 4.0x ?"
# have some bad case, one is:

img:
![image](https://user-images.githubusercontent.com/2200592/77316640-c0ea3680-6d44-11ea-807e-7d8770bb07d8.png)

url: https://static2.ivwen.com/users/16720809/832840a829c44141a1687f141872a75e.jpeg

[code]

Result:

![image](https://user-images.githubusercontent.com/2200592/77316604-add76680-6d44-11ea-8ce0-12e67342ea57.png)

Expected: empty

# Environment

[code]

[2020-03-23 15:59] otiai10 commented on #193
It supports 4.0, but this is an issue for followings:

1. There are some implicit options which tesseract CLI uses
2. If you use `gosseract`, better to know the source image and trim it properly to get expected result.

[2020-03-24 02:59] lleiiell commented on #193
Thanks. I used the direct tesseract cli command, and got expected result. not sure how to trim images since images are from user upload

[code]

[2020-03-25 08:43] veryWrong commented on #132
@moolen
I did what you said, but I got the mistake:
Process finished with exit code -1073741511 (0xC0000139)

[2020-03-29 11:51] moolen commented on #132
@veryWrong According to the [MS docs](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-erref/596a1078-e883-4972-9bbc-49e60bebca55?redirectedfrom=MSDN)

I assume that the `-lleptonica-X-XX.X` and `-llibtesseract-X` in
[code]
do not match with the entry points defined in the `.dll` files.
I'd suggest taking a look at the leptonica and tesseract dlls `objdump -p xxx.dll`.

[2020-03-30 08:53] veryWrong commented on #132
Can you upload your project demo to Github ? Thanks

[2020-03-31 10:35] Cedric-Caballol-Shepy opened #194 "failed to initialize TessBaseAPI"
Hi, thanks for this lib.

# Summary

I can't use gosseract due this error `failed to initialize TessBaseAPI`. How can I get rid of it ?

# Reproducibility

I used this function to test (fastly) gosseract :
[code]

With this test function (generated by Visual Studio Code)
[code]

The output is :
[code]

# Environment

### Os : Windows 10

[code]

[code]

[code]

I've used the MSYS2 installation gui

[2020-03-31 12:13] otiai10 commented on #194
Can you call `gosseract.Version()` tho?

[2020-03-31 12:22] Cedric-Caballol-Shepy commented on #194
`gosseract.Version()` gives `4.1.1`.

[2020-03-31 14:52] Cedric-Caballol-Shepy commented on #194
I don't know if it can help but I have another information (I didn't think about that before) :
When I've installed Tesseract I've chosen to install only the french language.
I've changed my code consequenlty (added `client.SetLanguage("fra")`) but I'm still getting the same error.

[2020-03-31 15:28] moolen commented on #132
sorry, i deleted that VM a while ago :(

[2020-04-01 02:10] otiai10 commented on #132
@veryWrong
Can you please share how you managed this problem?

[2020-04-01 07:08] veryWrong commented on #132
Of course, Here are my actions：
- As moolen said:

download & extract libtesseract-4.dll to $GOPATH/src/github.com/otiai10/gosseract/tesseract & extract liblept-5.dll to $GOPATH/src/github.com/otiai10/gosseract/lept

[code]
- Now run go build and copy Tesseract-OCR/*.dll to the same directory as the cmd.exe, don't run through `go run main.go`

there is my demo: https://github.com/veryWrong/gossera

[2020-04-02 03:10] otiai10 commented on #132
Very appreciated 👍

[2020-04-02 03:10] #132 closed

[2020-04-02 06:13] veryWrong commented on #194
Maybe you didn't set the environment variable `TESSDATA_PREFIX`
Try it in init:
[code]

[2020-04-02 06:19] veryWrong commented on #194
@Cedric-Caballol-Shepy
I seem to have encountered this error.
Maybe you didn't set the environment variable TESSDATA_PREFIX
Try it in init:

os.Setenv("TESSDATA_PREFIX", "The path of testdata")

[2020-04-02 07:13] Cedric-Caballol-Shepy commented on #194
It works with `os.Setenv("TESSDATA_PREFIX", "The path of tessdata")` !
That's weird because I have it set on Windows (if I do echo %TESSDATA_PREFIX% it gives me the path).

Thank you !

[2020-04-02 07:13] #194 closed

[2020-04-26 09:19] hcj116 commented on #192
I have a png image, bug the lib can't recognize the text of the image.

[2020-04-26 11:02] yoorxee opened #195 "training gosseract？"
There have method？

[2020-04-27 01:12] otiai10 commented on #192
Create a new issue

[2020-06-10 15:00] MetalRex101 opened #196 "SetImage (from file) works better, than set from bytes with equal encoding"
First of all - library as great. Just have one question:

I'm using `jpeg.Encode(f, img, &jpeg.Options{Quality: 100})`
When writing it to file and and opening with gosseract client with `SetImage`, it gives me 100% result. When using buffer of bytes and `SetImageFromBytes` it gives me maximum 50% success.
Why?

[2020-07-01 13:18] jairforero opened #197 "Help please"
tessbridge.cpp:5:10: fatal error: leptonica/allheaders.h: No such file or directory

[2020-07-01 13:33] otiai10 commented on #197
Install leptonica / leptonica-dev / something similar

[2020-07-03 08:40] damiandominella opened #198 "Too many open files"
# Summary

There's a problem with this package, when working with a medium-large number of files (> 120). I use Tesseractt to process some PDF files and by listing the opened files by the application during the process (`lsof -p PID_OF_APP | wc -l`) I can see that the amount is always growing until it reaches the default limit (1024). By listing the files I can see that they are all CHR files (spe

[2020-07-03 13:41] otiai10 commented on #198
which version of gosseract are you using

[2020-07-27 07:18] #197 closed

[2020-08-01 09:19] Dante666999 opened #199 "cc1.exe: sorry, unimplemented: 64-bit mode not compiled in"
golang 1.13  compile
# github.com/otiai10/gosseract/v2
cc1.exe: sorry, unimplemented: 64-bit mode not compiled in

[2020-08-01 14:10] #195 closed

[2020-08-01 14:11] otiai10 commented on #193
To answer your original question described in the title, yes, it does support 4.x

[2020-08-01 14:11] #193 closed

[2020-08-01 14:13] #185 closed

[2020-08-09 16:11] asimakos opened #200 "Compilation error"
I have followed all your installation instructions to use your great golang package for tesseract-ocr 4.0 (dev)  (Windows environment) for golang 1.14 in order to run the example app in your github repo, but unfortunately i get the following error:

[code]

Any help would be convenient to me!

Regards

[2020-08-10 02:57] otiai10 commented on #200
Because you didn't install leptonica

[2020-08-10 08:04] asimakos commented on #200
I just found the following list of leptonica developer and build packages for Windows [here](https://code.google.com/archive/p/leptonica/downloads?page=1).
I would like your assistance, if possible regarding leptonica  **build package** that contains only two folders (include and lib) of where exactly i place them.

That would help me a lot!

Regards

[2020-08-10 08:06] otiai10 commented on #200
Does it help?
https://github.com/tesseract-ocr/tesseract/wiki/Compiling#windows

[2020-08-10 08:23] asimakos commented on #200
I had read the following[ interesting article](https://medium.com/@ahmetxgenc/how-to-use-tesseract-on-windows-fe9d2a9ba5c6) to install and use tesseract-ocr-setup-4.00.00dev.exe, but now i just found the [following list ](https://digi.bib.uni-mannheim.de/tesseract/) that might help.

I am afraid that it is a whole process to compile tesseract in Windows that may not succeed.

Regards

[2020-08-10 08:29] otiai10 commented on #200
Did you check this? https://github.com/otiai10/gosseract/issues/132

could be helpful, then

[2020-08-13 08:46] asimakos commented on #200
Sorry for the late response!

Unfortunately the above link did not help me and  I made a little research and i found that it's possible to install [leptonica](https://packages.msys2.org/package/mingw-w64-i686-leptonica) and [tesseract](https://packages.msys2.org/package/mingw-w64-i686-tesseract-ocr) via msys2 packages for Windows 32-bit and 64-bit for [tesseract](https://packages.msys2.org/package

[2020-08-14 09:41] otiai10 commented on #200
The only thing I can say is either your INCLUDE_PATH is wrong or you didn't install header files for leptonica which can be install via such as `leptonica-dev`.

[2020-08-18 18:29] asimakos commented on #200
Sorry again for the late response!

For your better assistance, i attach you several images where i have installed leptonica and tesseract via msys2 package manager.

Additionally i define the following environment variables:
CGO_CFLAGS=-I C:\msys32\mingw32\include\
CGO_LDFLAGS=-L C:\msys32\mingw32\lib\

**but i receive the same error**!

Regards

![pic1](https://user-images.githubusercontent.com/

[2020-09-18 05:23] otiai10 opened #201 "DO NOT defer inside loop"
https://github.com/otiai10/gosseract/blob/78bc20c3e0df24925ece64f463584829d738ea06/client.go#L303

[2020-10-21 17:23] anandabhaumik opened #203 "Unable to run tesseract in Go"
# Summary

- Unable to run Sample file using otiai10/gosseract" in Windows10

tessbridge.cpp:5:10: fatal error: leptonica/allheaders.h: No such file or directory
    5 | #include <leptonica/allheaders.h>
      |          ^~~~~~~~~~~~~~~~~~~~~~~~
compilation terminated.

# Reproducibility
Yes

## Reproducibility Frequency

- Always

## Reproducible Dockerfile

[code]
Windows 10-> Visual Studion ->

[2020-10-21 23:10] otiai10 commented on #203
dup https://github.com/otiai10/gosseract/issues/132

[2020-10-21 23:10] #203 closed

[2020-10-23 08:18] xiyichan commented on #199
I also encountered the same problem. Did you solve it?

[2020-11-05 07:24] lzw5399 opened #205 "Wrong JPEG library version: library is 90, caller expects 80"
# Summary

Hi, I wrote a ocrserver based on `gosseract` (frontend page based on `https://github.com/otiai10/ocrserver`), below description all can be found in https://github.com/lzw5399/ocrserver.

There is a demand that OCR the received pdf base64 string, so I add the [https://github.com/gen2brain/go-fitz](https://github.com/gen2brain/go-fitz) depandency to convert the pdf to image（png) page by p

[2020-11-05 11:15] shumintao opened #206 "xref Prev does not point to xref ?"
panic: malformed PDF: xref Prev does not point to xref

goroutine 1 [running]:
main.main()
        /Users/facebook/go/src/gitee.com/pdf2txt/main.go:12 +0xbd

[2020-12-13 03:54] lufthansa747 commented on #200
Did you find a solution to this? I get the exact same error on window 10. Im trying to run the go get from both GitBash and windows cmd. Both fail with the same error

[2020-12-13 05:33] lufthansa747 opened #207 "`go test .` fails, failed to initialize TessBaseAPI with code -1:"
# Summary

Running the sample code fails with the error output as "failed to initialize TessBaseAPI with code -1: ". Im running this in
https://github.com/git-for-windows/build-extra/releases .

running `go test .` in the gosseract folder fails with

[code]

# Reproducibility

## Reproducibility Frequency

-100%

Follow Readme sample code, client.Text() returns an error

# Environment

[code]

[co

[2020-12-13 07:34] lufthansa747 commented on #207
MY issue was not having the TESSDATA_PREFIX path variable set

[2020-12-13 07:34] #207 closed

[2020-12-19 18:20] damn-at commented on #199
same issue on windows 10

[2021-01-06 03:27] otiai10 commented on #206
I'm not sure how you are using gosseract in your Go project, googled the error, found this block,

https://github.com/rsc/pdf/blob/c47d69cf462f804ff58ca63c61a8fb2aed76587e/read.go#L366-L368

[code]

and I guess your PDF is just malformed.

[2021-01-06 03:27] #206 closed

[2021-01-06 04:29] otiai10 commented on #205
FYI

[code]

[code]

[2021-01-07 04:55] gradygabriel10 opened #211 "Keep printing a blank with no error"
package main

import (
	"fmt"
	"github.com/otiai10/gosseract"
)

func main() {
	client := gosseract.NewClient()
	defer client.Close()
	client.SetImage("path/to/image.png")
	text, _ := client.Text()
	fmt.Println(text)
	// Hello, World!
}

I am using this code and run it in docker but still getting a blank without error

[2021-01-07 11:35] otiai10 commented on #211
Can you give me the image

[2021-01-07 21:57] gradygabriel10 commented on #211
![1](https://user-images.githubusercontent.com/48643915/103949411-0e773a80-50f0-11eb-9273-8bf6fb3b83bd.png)
![3](https://user-images.githubusercontent.com/48643915/103949416-1040fe00-50f0-11eb-8841-f7c6d938ef4c.png)
![2](https://user-images.githubusercontent.com/48643915/103949417-11722b00-50f0-11eb-917d-f834c12f4d3b.png)

Yes, I'm using docker container to run this but it keeps printing nothing.

[2021-01-07 23:13] otiai10 commented on #211
I mean the `test2.jpg`

[2021-01-07 23:14] gradygabriel10 commented on #211
C:\Users\grady\OneDrive\Desktop\go-workspace\src\Demo-ocr\test2.jpg
C:\Users\grady\OneDrive\Desktop\go-workspace\src\Demo-ocr\stop.png

Oh. I tried these two and the results are the same.

[2021-01-07 23:15] gradygabriel10 commented on #211
![test2](https://user-images.githubusercontent.com/48643915/103955437-20120f80-50fb-11eb-98c6-8ba1a892d5cd.jpg)
![stop](https://user-images.githubusercontent.com/48643915/103955441-21dbd300-50fb-11eb-9e5f-862cf0d91814.png)

Oh. I tried these two and the results are the same.

[2021-01-07 23:58] otiai10 commented on #211
[code]

[2021-01-08 00:17] gradygabriel10 commented on #211
Unfortunately, it doesn't work. The code shows this error:

 failed to initialize TessBaseAPI with code -1: Error opening data file /usr/share/tesseract-ocr/4.00/tessdata/eng.traineddata
Please make sure the TESSDATA_PREFIX environment variable is set to your "tessdata" directory.
Failed loading language 'eng'
Tesseract couldn't load any languages!

[2021-01-08 00:48] otiai10 commented on #211
OK, then you can read and follow the error message.

[2021-01-08 02:03] otiai10 commented on #211
Use `gosseract/test:debian` image instead. It works in that image

[code]

[2021-01-08 02:03] #211 closed

[2021-01-08 02:16] gradygabriel10 commented on #211
Hi,

Can I see your main.go code, please?

On Thu, Jan 7, 2021 at 6:03 PM Hiromu OCHIAI <notifications@github.com>
wrote:

[2021-01-08 03:31] otiai10 commented on #211
[code]

main.go

[code]

[code]

Inside docker container

[code]

[2021-01-20 04:22] otiai10 commented on #198
no reply

[2021-01-20 04:22] #198 closed

[2021-01-24 20:20] lranasingha commented on #138
Setting `CGO_ENABLED` to `1` solved the docker build failure caused by `undefined: gosseract.NewClient` for me too.

[2021-01-25 07:17] minskiter commented on #200
Same problem,too. I dont want to compile full tesseract-ocr on win10.Is there any solution?

[2021-01-31 13:18] lammel commented on #145
I used a whitelist with tesseract v4.1.1 and it was working fine.

[2021-02-01 00:15] otiai10 commented on #145
Thank you for reporting. This issue can be closed by https://github.com/otiai10/ocrserver/commit/f9ef881cb8fb1f20b0ca807af61b41a813a069d9

[2021-02-01 00:15] #145 closed

[2021-02-01 00:17] otiai10 commented on #145
From gosseract side, closed by https://github.com/otiai10/gosseract/releases/tag/v2.3.1

[2021-02-14 12:36] pdiwadkar commented on #200
Same problem. Struggling to install/run Gosseract for last 3 days.
Tried with tesseract 5.0 Alpha and Tesseract 4.0.  I copied all header files from Leptonica/Tesseract inside gosseract/leptonica and gosseract/tesseract folders . It got success but then running the program throws the error-
got this error : exit status 3221226356

[2021-03-16 14:21] thzll opened #212 "Compilation error"
# Summary

- bla bla bla

# Reproducibility

## Reproducibility Frequency

- XX%

## Reproducible Dockerfile

[code]

Otherwise, describe how to reproduce
package main

import (
"fmt"
"github.com/otiai10/gosseract/v2"
)

func main() {
	client := gosseract.NewClient()
	defer client.Close()
	client.SetImage("path/to/image.png")
	text, _ := client.Text()
	fmt.Println(text)
	// Hello, World!
}
test$ G

[2021-03-16 23:09] otiai10 commented on #212
Please read and follow the issue template, please.

[2021-03-16 23:09] #212 closed

[2021-03-26 13:47] FunkyYang opened #213 "didn't use for go mod"
I use go mod in mine project. and import code.sajari.com/docconv
then I run go mod tidy .
[code]
and I run that command
[code]
it tell me that.
[code]
I saw the source code ,found that v2.0 tag contains v1/gosseract code.so any one help me ?
uname -a
[code]
go version
[code]
[code]

[2021-03-27 15:31] karliky commented on #200
I'm facing the same problem "#include <leptonica/allheaders.h>". Would be great to have building instructions for Windows, I've tried compiling liptonica etc but always face the same issue

[2021-03-28 01:31] otiai10 commented on #213
[code]

[2021-04-01 02:45] tmb-piXel opened #214 "can't install go get -t github.com/otiai10/gosseract"
# Summary

go get -t github.com/otiai10/gosseract
tessbridge.cpp: In function ‘int Init(TessBaseAPI, char*, char*, char*, char*)’:
tessbridge.cpp:46:10: warning: ignoring return value of ‘FILE* freopen(const char*, const char*, FILE*)’, declared with attribute warn_unused_result [-Wunused-result]
   46 |   freopen("/dev/null", "a", stderr);
      |   ~~~~~~~^~~~~~~~~~~~~~~~~~~~~~~~~~
tessbridge.cp

[2021-04-01 02:58] tmb-piXel commented on #214
Shows a warning, but everything works, you can close issue

[2021-04-01 02:59] otiai10 commented on #214
Thank you for your checking :+1:

[2021-04-01 02:59] #214 closed

[2021-04-05 09:05] karliky commented on #200
@otiai10 Can you help us? 😄

[2021-04-05 23:29] otiai10 commented on #200
Working on it but not able to take so much time currently 🙇

[2021-04-11 05:15] FunkyYang commented on #213
why use  v2 tag?

[2021-04-12 06:05] Skwol commented on #200
I have the same error on mac (big sur 11.2.3). I'm not sure what caused this but for some reason gosseract is looking for includes in some unexpected place, I've forked code and changed cpp bridge from:
`#include <leptonica/allheaders.h>
#include <tesseract/baseapi.h>`
to:
`#include "/usr/local/include/leptonica/allheaders.h"
#include "/usr/local/include/tesseract/baseapi.h"`

What is causing this

[2021-04-12 06:24] karliky commented on #200
@Skwol Did setting the absolute path worked for you?

[2021-04-12 16:48] Skwol commented on #200
yes, it did help

[2021-04-29 21:24] Fentonz opened #215 "Go build fails on windows 10 (undefined reference)"
# Summary
I cant get gosseract to work on Windows10. I managed to build tesseract and leptonica with VS 2019, but I had issues with pathing in many header files. I solved that by adding absolute path to those header files like this:
![image](https://user-images.githubusercontent.com/47477601/116621015-40383980-a94b-11eb-97ba-8583a239608c.png)

But now it seems like I have an **"undefined reference

[2021-04-30 00:44] #215 closed

[2021-05-17 15:28] hajsf opened #218 "Cleaning/Removing extra characters"
trying to reproducethe sample provided (without docker), as below:
[code]
But got te below error:
[code]
![image](https://user-images.githubusercontent.com/46838626/118513944-cc64a200-b73c-11eb-9fab-6b564b5c30b2.png)

Note:
I got [tesseract](https://github.com/tesseract-ocr/tesseract) installed qt my WSL (Ubuntu under Win 10) as:
[code]
And added `gosseract` as:
[code]
What wrong thig I'm doing he

[2021-05-17 15:38] hajsf commented on #218
Sorry, The image extension was wrong, in the code it is `png` while in real it is `jpg` I fixed it and for the below imge:

![x](https://user-images.githubusercontent.com/46838626/118516279-d7b8cd00-b73e-11eb-9667-2ec3046c5dc6.jpg)

I got the below output text:

[code]
1. How can I clean the extra characters?
2. Why the name `Jack while`  was not read?

[2021-05-24 01:46] otiai10 commented on #218
Can you change the title of issue to represent your problem correctly?

[2021-06-09 18:50] leftwichj commented on #167
I just ran into this issue as well, for now to work around I'm just setting the variable name instead of using the SetPageMode
`client.SetVariable("tessedit_pageseg_mode", "1")`

In debugging the issue something in the client.init() is resetting the value to the default value of 6, once init() isn't called for subsequent images everything works smoothly.

[2021-06-17 17:29] Lambels commented on #199
I am also encountering the same problem.

[2021-06-18 05:36] otiai10 commented on #199
Can you give me a reproducible Dockerfile or the way how to reproduce this problem in a specific OS.

[2021-06-18 16:59] Lambels commented on #199
I am using go mod and golang version 1.16.5.

When I do:
go get github.com/otiai10/gosseract/v2

I get the error above.

I am using Windows x64.

[2021-06-19 12:52] Lambels commented on #199
### Summary
Cannot import.
[code]

### Enviroment
## Go env
[code]

## Go version
[code]

## Tesseract-OCR version
[code]

# Thanks, and would appreciate a response.

[2021-07-06 14:59] Xuzan9396 opened #221 "Can't find tesseract v4.1.1 Dockerfile?"
Whitelist and Blacklist not working with tesseract 4.0

[2021-07-06 22:51] otiai10 commented on #221
#145

[2021-07-07 02:13] Xuzan9396 commented on #221
https://github.com/otiai10/gosseract/releases/tag/v2.3.1

 Dockerfile is 4.0.0 version?

![image](https://user-images.githubusercontent.com/24741439/124689699-8c839500-df0b-11eb-9eff-3a80d4996d54.png)

![image](https://user-images.githubusercontent.com/24741439/124689813-c05eba80-df0b-11eb-9ec5-d7023fec0d76.png)

![image](https://user-images.githubusercontent.com/24741439/124689934-0025a200-df0c-1

[2021-07-07 02:23] Xuzan9396 commented on #221
Dockerfile
[code]

error
docker build  -t orc4.1.1

![image](https://user-images.githubusercontent.com/24741439/124690796-4a5b5300-df0d-11eb-8892-1534de3abf5c.png)

[2021-07-07 04:34] otiai10 commented on #221
As I understand it, you are trying to create a Dockerfile with Tesseract 4.1.1, but not working.
Is it right?

[2021-07-07 23:20] otiai10 commented on #221
it works for me

[code]

[2021-07-08 09:40] #221 closed

[2021-07-21 19:11] wozuo commented on #40
For anybody else experiencing this issue on an M1 mac:
[code]

[2021-07-28 20:21] hajsf opened #223 "fatal error: tesseract/baseapi.h: No such file or directory"
I installed the latest version 5.0.0-alpha of tesseract-ocr for windows as [recommended](https://github.com/UB-Mannheim/tesseract/wiki#tesseract-installer-for-windows).

While running:
[code]
I got the error:
[code]

I know below can be used as a workaround solution, but would like to use this package:
[code]

[2021-07-29 00:13] otiai10 commented on #223
https://github.com/otiai10/gosseract/search?q=baseapi.h&type=issues

[2021-08-09 23:13] alesjr opened #225 "fatal error test"
I have a problem running the test using the dockerfile, when it calls the test the following errors appear:

`go: github.com/otiai10/mint@v1.3.2 requires
        github.com/otiai10/curr@v1.0.0 requires
        github.com/otiai10/mint@v1.3.0: missing go.sum entry; to add it:
        go mod download github.com/otiai10/mint
go: github.com/otiai10/mint@v1.3.2 requires
        github.com/otiai10/curr@v

[2021-08-11 14:50] TuringJest commented on #40
I have the same problem on a Mac M1 :(
Installed tesseract with `brew` but get the same error
`tesseract/tess.cpp:1:10: fatal error: 'tesseract/baseapi.h' file not found`

Removing/reinstalling `tesseract` and `leptonica` with brew also didn't help.

Leptonica is available under `opt/homebrew/cellar/leptonica`. I also tried to set the
`PKG_CONFIG_PATH=:/opt/homebrew/cellar/leptonica/leptonica/1.81

[2021-08-12 15:44] umutozgur opened #226 "go get -t github.com/otiai10/goserract tesseract/baseapi.h: No such file or directory"
# Summary

go get -t github.com/otiai10/gosseract
# github.com/otiai10/gosseract
tessbridge.cpp:5:10: fatal error: tesseract/baseapi.h: No such file or directory
    5 | #include <tesseract/baseapi.h>
      |          ^~~~~~~~~~~~~~~~~~~~~
compilation terminated.

# Reproducibility

## Reproducibility Frequency

- XX%

## Reproducible Dockerfile

[code]
MINGW64_NT-10.0-19041 DESKTOP-BBNPNAM 3.1.7-

[2021-08-23 22:01] dpanic opened #227 "Binding Gosseract with Go Mobile (gomobile)"
# Summary
I am trying to bind Go code for Android, code has CGO bindings for Tesseract.
I have all dependencies installed for tesseract.

I am trying to archive this with gomobile bind but I get following error:
[code]

# Reproducibility
gomobile bind

## Reproducibility Frequency

- 100%

Otherwise, describe how to reproduce
1. GOOS=android GOARCH=arm CGO_ENABLED=1 gomobile bind

# Environment

[

[2021-08-30 03:46] otiai10 commented on #225
`go env`, please

[2021-09-02 13:16] sivsivsree commented on #40
This works charm 🚀

[2021-09-03 11:37] otiai10 commented on #226
Tesseract is not installed

[2021-09-03 11:37] #226 closed

[2021-09-29 11:10] sardorgo commented on #223
I also have the same problem

[2021-10-09 09:02] #223 closed

[2021-11-08 14:19] Slavchev070720 opened #228 "Too many open files (FD > /dev/pts/0)"
# Summary
There's a problem with this package, when working with a lot of images. I use Tesseract to process some very small sized png images one at a time and when my program reach around ~970th image it start to throw error `too many opend files`. In `/proc/{PID}/fd` i can see that during the process it keeps opening new file descriptors and all of them point to `/dev/pts/0`. My `ulimit -n` is `

[2021-11-09 02:53] otiai10 commented on #228
Thank you. I found this commit https://github.com/otiai10/gosseract/commit/47a6c298b1de41dfe0fc92b2c043dd48be4c5f98 after v2.2.1.

Try v2.2.2 or newer.
Let me know when it fixes.

[2021-11-09 10:02] Slavchev070720 commented on #228
I update to v2.2.4 and now it works. Also the build warning massage disapeared.Thanks.
`go get github.com/otiai10/gosseract/v2@v2.2.4`

[2021-11-14 23:09] #228 closed

[2021-11-16 07:51] gozelus commented on #218
same problem, need help.

[2021-11-29 06:15] filip-dahlberg commented on #136
I'm having the same problem where I'm trying to extract text from a multi-page .tiff file, only first page is extracted. The same problem also exists in the case of a .png file. Would appreciate any help :)

[2021-11-29 22:32] otiai10 opened #230 "Vagrant Test Failing"
https://github.com/otiai10/gosseract/actions/runs/1505623556

[2021-12-02 09:35] #230 closed

[2021-12-14 10:59] Chanonry opened #232 "Package imports fails"
# Summary

- Importing the package as shown in docs. Compilation of my code fails with "undefined: gosseract.NewClient" etc etc.
- Also pkg.go.dev for gosseract is showing runtime test: failing

# Reproducibility

Using Jetbrains Goland IDE and testing against a Docker target. All other package imports and tests are working

Imported with go get -t github.com/otiai10/gosseract
go.mod shows github.

[2021-12-17 09:02] Chanonry commented on #232
My bad. Imports and package works when tests run locally.

They fail when run on a Goland IDE remote target so its a test config issue at my end

[2021-12-17 09:02] #232 closed

[2021-12-19 07:28] Xumany opened #233 "no leptonica/allheaders.h"
# Summary

go: downloading github.com/otiai10/gosseract v0.0.0-20191223175935-1da940ed3a18
 github.com/otiai10/gosseract
tessbridge.cpp:5:10: fatal error: leptonica/allheaders.h: No such file or directory
 /#include <leptonica/allheaders.h>
          ^~~~~~~~~~~~~~~~~~~~~~~~
compilation terminated.

## Reproducibility Frequency

- 100%

# Environment
[code]
uname -a
[code]
go env
[code]
go version

[2021-12-19 23:31] otiai10 commented on #233
* #182
* #186

[2021-12-21 06:04] otiai10 commented on #233
@Xumany can you please check those links above?

[2021-12-21 15:18] oxycoder commented on #233
Try add leptonica path to your go get command:
example for mac:

[code]

[2022-01-04 10:18] otiai10 commented on #218
If you know the coords of texts, trim your images on your application first.

[2022-01-05 12:31] WyntersN opened #234 "tessbridge.cpp:5:10: fatal error: leptonica/allheaders.h: No such file or directory"
# Summary
[code]
uname -a
[code]
go env
[code]

go version
[code]
tesseract --version
[code]
gcc -v
[code]

[2022-01-07 09:44] AlexMcGopher opened #235 "SetImageFromBytes from gocv.mat Image format ?"
# Summary

Is the usage of SetImageFromBytes possible with a gocv.mat ?
What conversion do I have to to between the gocv.mat and
the []byte input image of SetImageFromBytes ?
Currently I save the mat to a Image file, and use SetImage
but it must be possible without using a Imagefile....

[2022-01-13 02:14] #218 closed

[2022-01-13 02:15] #180 closed

[2022-01-13 02:16] otiai10 commented on #213
because this is completely different thing from v1

[2022-01-13 02:16] #213 closed

[2022-01-13 02:17] #201 closed

[2022-01-13 10:32] sunshineplan opened #236 "log.Print dose not print anything after runing client.Text()"
# Summary

log.Print dose not print anything after runing client.Text()

# Reproducibility

## Reproducibility Frequency

- 100%

1. `install MSYS2 and update the package database and base packages`
2. `pacman -S --needed base-devel mingw-w64-x86_64-toolchain`
3. `pacman -S mingw-w64-x86_64-tesseract-ocr`
4. `pacman -S mingw-w64-x86_64-tesseract-data-eng`
5. `set TESSDATA_PREFIX=xxxx`
6. `go run .

[2022-01-13 13:42] anurag925 opened #237 "clang: error: linker command failed with exit code 1"
# Summary

Previously code was working fine but i installed opencv and that somehow corrupted my go code.
now when i initialise the gosserect client it just throws this error.
[code]
# Reproducibility

Inorder to reproduce try to install opencv via brew and then create the client

# Environment

[code]
Darwin Anurags-MacBook-Air.local 21.1.0 Darwin Kernel Version 21.1.0: Wed Oct 13 17:33:23 PDT 20

[2022-01-18 09:24] otiai10 opened #238 "macOS test failing with Tesseract 5.0.1"
https://github.com/otiai10/gosseract/runs/4851060343?check_suite_focus=true

[code]

[2022-01-18 10:35] otiai10 commented on #237
Thank you. This should be fixed in #238

[2022-01-20 15:41] AlexMcGopher commented on #235
Would be great if I get at least a small reaction to my question..

[2022-01-21 03:50] otiai10 commented on #235
Do you mean this?
https://github.com/hybridgroup/gocv/blob/5730c4cf12d5fb4590fb7c97db8ed50c7020cc32/core.go#L183-L188

[2022-01-21 08:32] AlexMcGopher commented on #235
Exactly, this is what I am talking about. Sorry for being unprecise in this point.

[2022-01-25 14:09] xellDart commented on #205
Do you solve this, I have same error

[2022-02-01 15:00] otiai10 commented on #235
As of now, I would not fix this package to adjust to another specific package.
I would recommend you to find a way to extract `[]byte` from `gocv.Mat`.

What do you think?

[2022-02-02 02:44] lifepeer opened #239 "fatal error: unexpected signal during runtime execution"
# Summary

- Running the example provided in `README.md` produces the following error:

[code]

- `tesseract` itself is confirmed to be working fine directly

# Reproducibility

## Reproducibility Frequency

- 100%

## Reproducible example

1. Install `tesseract` via `brew` on macOS 10.13.6
2. `go mod init` a new module and run the example provided in README.md

go.mod

[code]

main.go

[code]

#

[2022-02-02 06:44] otiai10 commented on #239
#238

[2022-02-23 06:39] ZhouShiJun5 commented on #234
Same issue, but run on Ubuntu 20.04. Please help.

[2022-02-25 02:15] langxlm opened #240 "failed to initialize TessBaseAPI with code -1:"
# Summary

- I install gosseract at win10 . use MSYS2 with Mingw64 to install tesseract , leptonica module。 and finally install gosseract use command 'go get -t go get -t github.com/otiai10/gosseract/v2 '

when i build my test project success , eventually throw a exception : `failed to initialize TessBaseAPI with code -1: '

then I go to the install directory at go path ,  run the go test , also g

[2022-03-05 21:41] l1ving commented on #233
`libtesseract-dev` in addition to `tesseract-ocr` fixes this (Ubuntu 20.04). I already had `libleptonica-dev` and got the error

[2022-03-13 07:04] #233 closed

[2022-03-21 08:25] frankble opened #242 "fatal error: 'tesseract/version.h' file not found & ld-elf.so.1: /usr/local/lib/libtesseract.so.5: Undefined symbol "__kmpc_global_thread_num""
After updating the dev environment to freebsd 12.3 and rebuilding a project i stumbled about two problems:

1. After "go get -t github.com/otiai10/gosseract/v2" i got the error "/usr/local/include/tesseract/baseapi.h:32:10: fatal error: 'tesseract/version.h' file not found"
2. After compiling my project and run a test it shows "ld-elf.so.1: /usr/local/lib/libtesseract.so.5: Undefined symbol "__kmp

[2022-03-23 00:49] otiai10 commented on #238
I couldn't take time for this issue these days, so added `help wanted` label here.

[2022-03-23 00:51] otiai10 commented on #238
https://github.com/otiai10/gosseract/actions/workflows/go-ci.yml

[2022-04-04 09:17] R-JoniJoni commented on #234
Same issue, but run on Windows10. Please help.

[2022-04-06 00:07] #238 closed

[2022-04-06 00:07] #239 closed

[2022-04-06 01:17] otiai10 opened #244 "Vagrant test failing"
https://github.com/otiai10/gosseract/actions/workflows/runtime-vagrant.yml

[2022-04-06 12:21] frankble commented on #242
I opened a issue for problem 2 also in the tesseract project [https://github.com/tesseract-ocr/tesseract/issues/3777](url) but they told me its a gosseract issue.
Can some point me to the path to solve this issue?

[2022-04-17 03:53] MatchaC opened #246 "All test pass,but nothing output"
# Summary

All tests passed, but it seems that only TestVersion has output
[code]

Then I try to call the functions with other images or other languages，but it doesn't seem to make a difference.

Tesseract runs normally in the shell
[code]
And has several tessdata
[code]
I even tried to compile and change liblept.dll for several versions，but it didn't help.
I can't change libtesseract.dll,because

[2022-04-18 00:51] otiai10 commented on #246
let me see your go code

[2022-04-21 18:05] NicolasGB commented on #234
Same issue, on windows 10. Followed the instructions, calling and using tesseract via cli works just fine, but can't seem to build my program.

On arch-linux it worked fine after installing tesseract via pacman.

[2022-04-22 17:35] MatchaC commented on #246
func TestMe(t *testing.T) {
	client := NewClient()
	defer client.Close()

	client.SetLanguage("eng")
	client.SetImage("./test/data/001-helloworld.png")

	text, err := client.Text()
	Expect(t, err).ToBe(nil)
	Expect(t, text).ToBe("Hello, World!")
}

[2022-04-24 06:14] otiai10 commented on #246
Can you just try this code:

[code]

[2022-05-08 12:48] codingeasygo opened #247 "cgo function name should having prefix."
when i using two cgo package rogchap.com/v8go and github.com/otiai10/gosseract
[code]

[2022-05-16 16:10] paradox-lab commented on #234
Same issue, Win11

[2022-05-27 13:13] thynquest opened #248 "ld: library not found for -llept"
Hello there

I am trying to install gosseract on a macbook m1 but I have the following error with `lept` library
`ld: library not found for -llept`
`clang: error: linker command failed with exit code 1 (use -v to see invocation)`

and this is the command line I use
`LD_LIBRARY_PATH="-L/opt/homebrew/Cellar/leptonica/1.82.0/lib" CGO_CXXFLAGS="-I/opt/homebrew/Cellar/leptonica/1.82.0/include/ -I/opt/h

[2022-05-31 12:40] TuringZhu commented on #248
the same to above
[code]

[2022-06-06 18:09] ConnorMoodyDev commented on #234
Same issue, Ubuntu 18.04 LTS

[2022-06-12 21:12] k0eff commented on #234
I can confirm the same issue on MacOS Monterey 12.1
`Leptonica` and `Tesseract` have been installed with `brew` and `PATH` has been modified to include Leptonica's dir: /opt/homebrew/Cellar/leptonica/1.82.0/include/leptonica

However PATH seems to be ignored by `tessbridge.h`

[2022-06-13 08:59] mrlakshmanan commented on #184
PS D:\www\poc\ocr> go get github.com/otiai10/gosseract/v2
go: finding module for package github.com/gofiber/fiber
go: finding module for package github.com/tidwall/gjson
go: finding module for package github.com/anthonynsimon/bild/effect
go: finding module for package github.com/otiai10/gosseract
go: finding module for package github.com/anthonynsimon/bild/segment
go: found github.com/anthonynsimo

[2022-06-13 09:04] mrlakshmanan opened #249 "imports github.com/otiai10/gosseract/v2: import cycle not allowed"
# Summary
Trying to import the package from VCODE terminal, getting this error

PS D:\www\poc\ocr> go get github.com/otiai10/gosseract/v2
go: finding module for package github.com/gofiber/fiber
go: finding module for package github.com/tidwall/gjson
go: finding module for package github.com/anthonynsimon/bild/effect
go: finding module for package github.com/otiai10/gosseract
go: finding module for

[2022-06-14 07:17] otiai10 commented on #249
Works fine with my env

[code]

[2022-06-16 19:00] frytoli opened #250 "Gosseract is much slower than Pytesseract"
# Summary

Firstly, thank you for the great work on this repo! It made it really easy to incorporate Tesseract into my project.

I'm finding that OCR-ing images with gosseract to be **much** slower than with Pytesseract, and I would expect the opposite. One image that I tested took `1m19.203891157s` to OCR with gosseract and only `3.1102023124694824` seconds with Pytesseract. My testing has shown

[2022-06-29 08:34] zzdboy opened #251 "Win11 compiler error"
# Summary

Go Compilation Error (in tessbridge.cpp:5): fatal error: leptonica/allheaders.h: No such file or directory

# Reproducibility

## Reproducibility Frequency

- XX%

## Reproducible Dockerfile

[code]

Otherwise, describe how to reproduce

1. `foo bar`
2. `spam ham`
3. `hoge fuga`

# Environment

[code]
Windows 11
[code]
set GO111MODULE=on
set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\

[2022-06-30 13:10] dyelamos-smarsh commented on #239
how did you guys fix this? I'm currently having the same issue with tesseract 5.1.0

[2022-06-30 13:41] dyelamos-smarsh opened #252 "While running example on Mac OX: "fatal error: unexpected signal during runtime execution segmentation violation""
# Summary

MacOX does not run the example with tesseract installed from brew. Fails with an segmentation violation:

[code]

# Reproducibility

## Reproducibility Frequency

- 100%

[code]

1.  brew install tesseract
2. go run .
3. See the exception described above.

# Environment

[code]

[code]

[code]

[code]

[2022-07-09 01:12] otiai10 commented on #252
which version of gosseract do you use?

[2022-07-15 00:25] otiai10 commented on #252
could you please try v2.4.0 and let us know the result here?

[2022-08-15 07:28] edhoguntur commented on #240
@langxlm , could you explain how to set TESSDATA_PREFIX in correct path?

[2022-08-31 12:48] sovanna commented on #234
Hello @k0eff  did you find a solution, I have the same thing with MacOS Monterey 12.5.1 on M1

[2022-08-31 13:00] k0eff commented on #234
Unfortunately no, it was a research project and I just abandoned it ...
Tried a lot of things, like sym linking from various files/paths but it
still failed. Would love to hear from the gosseract team...

On Wed, Aug 31, 2022, 15:48 Sovanna ***@***.***> wrote:

[2022-08-31 14:46] otiai10 commented on #234
`LD_LIBRARY_PATH` ?

[2022-08-31 16:10] sovanna commented on #234
I've added `/opt/homebrew/Cellar/leptonica/1.82.0_1/include` in `PATH` and even `/opt/homebrew/Cellar/leptonica/1.82.0_1/include` in `LD_LIBRARY_PATH`

but it didn't work

[2022-09-06 14:05] micolore commented on #234
try this command
$ sudo apt install libtesseract-dev
i'am ok

[2022-09-07 18:30] Shinora007 commented on #235
I created `image.Image` object from `gocv.Mat`.
Then got encoded bytes of `image.Image` using `png.Encode`
These encoded bytes are getting accepted by  gosseract client for use case.

`	client := gosseract.NewClient()
	defer client.Close()

	img := gocv.IMRead("./processed_image.png", gocv.IMReadColor)
	defer img.Close()

	pngImg, _ := img.ToImage()

	buff := new(bytes.Buffer)
	_ = png.Encode(buff

[2022-09-08 01:26] otiai10 commented on #252
closing due to no-reply

[2022-09-08 01:26] #252 closed

[2022-09-08 01:27] #249 closed

[2022-09-08 01:27] #246 closed

[2022-09-08 01:28] otiai10 commented on #247
waiting for your pull-req

[2022-09-08 01:28] #247 closed

[2022-09-08 01:29] #235 closed

[2022-09-08 01:29] otiai10 commented on #225
closing due to no-reply

[2022-09-08 01:29] #225 closed

[2022-09-15 10:03] HasbiCrew commented on #234
Same issue (Monterey), solution please

[2022-09-16 06:58] MuhammadHasbiAshshiddieqy commented on #234
@sovanna @k0eff @otiai10

OS Monterey 12.4 (M1)

Install with `brew install tesseract`
tesseract 5.2.0
leptonica-1.82.0

I got same issue and fix it with this :

`export LIBRARY_PATH="/opt/homebrew/lib"`
`export CPATH="/opt/homebrew/include"`

It works for me, maybe it also can help you. Thanks

[2022-09-20 03:57] NSObjects opened #256 "Undefined symbols for architecture arm64"
Undefined symbols for architecture arm64:
  "_curl_easy_cleanup", referenced from:
      tesseract::TessBaseAPI::ProcessPagesInternal(char const*, char const*, int, tesseract::TessResultRenderer*) in libtesseract.a(libtesseract_la-baseapi.o)
  "_curl_easy_init", referenced from:
      tesseract::TessBaseAPI::ProcessPagesInternal(char const*, char const*, int, tesseract::TessResultRenderer*) in lib

[2022-09-22 03:22] otiai10 commented on #256
@NSObjects please note how you solved it

[2022-09-22 05:56] NSObjects commented on #256
@otiai10  clean homebrew and reinstall

`
$ /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall.sh)"
`

delete /usr/local/Cellar

I  use mac migration assistant to migrate old data from intel mac, so the system contains some x86  lib.

best reinstall system, clean old data

[2022-09-22 06:44] otiai10 commented on #256
Thank you. That would be super appreciated by people who will face the same issue.

❤️

[2022-09-22 06:45] #256 closed

[2022-09-30 13:53] h4ckitt commented on #205
Hi, I Have This Exact Issue And Will Be Happy To Provide Any Information Needed To Find A Solution.

Like OP, I'm Using go-fitz To Convert The PDF To Image, Then Feeding It To Gosseract.

[2022-10-19 02:58] andituzi commented on #200
我也遇到了同样的问题，并且通过这种方式安装了leptonica
    git clone https://github.com/Microsoft/vcpkg.git
    cd vcpkg
    ./bootstrap-vcpkg.sh # "./bootstrap-vcpkg.bat" for powershell
    ./vcpkg integrate install
    ./vcpkg install leptonica

[2022-11-14 09:47] Adrian147 opened #258 "Tesseract 5.0: error while loading shared libraries: libtesseract.so.4: cannot open shared object file: No such file or directory"
# Summary

- an `error while loading shared libraries: libtesseract.so.4: cannot open shared object file: No such file or directory` is thrown on running gotesseract on a Clear Linux with tesseract instance.
- Is Gotesseract compatible with tesseract 5.0?

# Reproducibility

## Reproducibility Frequency

- 100%

## Reproducible Dockerfile

[code]

1. Here `test` is simply a Main.go with a gosserac

[2022-11-16 02:50] otiai10 commented on #258
This code works fine

[2022-11-16 02:50] otiai10 commented on #258
This code works fine https://github.com/otiai10/gosseract/pull/259/files

[2022-11-16 17:17] otiai10 commented on #242
#40 might help

[2022-11-18 09:50] Adrian147 commented on #258
Thank you for the test!
it worked

[2022-11-18 09:50] #258 closed

[2022-11-22 04:55] VincentWijaya opened #260 "tessbridge.cpp:5:10: fatal error: 'tesseract/baseapi.h' file not found"
# Summary

I'm using Macbook Pro M1, and already install tesseract-ocr via homebrew but when I try to run gosseract project it keep throw error like this

<img width="600" alt="image" src="https://user-images.githubusercontent.com/30359144/203224809-ee7bffed-fcea-40c6-942f-21d88a5d4767.png">

Tesseract is already running and no error in my local
<img width="379" alt="image" src="https://user-image

[2022-11-28 13:42] Nelegres commented on #260
Maybe try this? https://github.com/otiai10/gosseract/issues/234#issuecomment-1248991263

[2022-11-28 13:48] Nelegres commented on #252
I had the same issue Ventura 13.0.1 and tesseract --version `tesseract 5.2.0
 leptonica-1.82.0
  libgif 5.2.1 : libjpeg 8d (libjpeg-turbo 2.1.4) : libpng 1.6.38 : libtiff 4.4.0 : zlib 1.2.11 : libwebp 1.2.4 : libopenjp2 2.5.0
 Found NEON
 Found libarchive 3.6.1 zlib/1.2.11 liblzma/5.2.5 bz2lib/1.0.8 liblz4/1.9.3 libzstd/1.5.2
 Found libcurl/7.84.0 SecureTransport (LibreSSL/3.3.6) zlib/1.2.11 nghtt

[2022-11-28 14:14] Nelegres commented on #250
Some things you can try:

- Are you running gosseract in a docker container and pytesseract without docker? Check your memory limit with `docker stats`. Maybe pytesseract is running without ressource limits and your container has limited ressources.
- Disable openmp. Since tesseract 4.1.0, openmp is disabled by default. See:
  - https://github.com/tesseract-ocr/tesseract/issues/1081
  - https://gi

[2022-11-28 16:06] #250 closed